[2013-06-18 21:09] asmeurer opened #2 "appdirs"
Is it worth it having a dependency on appdirs just to figure out where to put the config file? What is wrong with `os.path.expanduser("~")`?

[2013-06-19 16:17] asmeurer opened #3 "Package name"
The Python name is called binstar_client. We should call at least the Python package, if not the whole GitHub package, just binstar.

[2013-06-20 15:13] tree-wizard opened #6 "What is index.json used for?"
In binstar.upload we check if index.json is included in the tar file. I'm not familiar with what index.json is/does, I assume it's metadata but do we have to make a new one with each package? It does not exist when you build packages..?

[2013-06-20 16:35] #6 closed, assigned to nobody

[2013-06-20 21:26] tree-wizard opened #7 "Can't upload large packages"
I was doing some testing and I cannot upload larger packages with binstar. I tried astropy at 5mb and got this error:

" Error  Code EntityTooLarge /Code  Message Your proposed upload exceeds the maximum allowed size Message  ProposedSize  1052600 ProposedSize   RequestId 4AF6F4FF188F03DF RequestId  HostId vgwGrUuiGqFF+nRBLfnz0GB6dIpJ0uxv9QxWgEAmnjVQTzI1SHOXAwMwDeXI5bvZ HostId  MaxSizeAllowed 1048

[2013-06-24 23:10] #7 closed, assigned to nobody

[2013-06-26 20:40] asmeurer opened #11 "Comments on binstar_client"
So today I actually just used binstar_client for the first time to upload a package (yes I know, I was supposed to be testing it sooner, but I was busy with the Anaconda release and SciPy). So here are my first time comments. It's easy to get lost in usability if you already know how something works, so I think these first time impressions are important.
- I like how at the very end of conda build

[2013-06-28 16:59] brentp opened #13 "allow searching all of binstar"
currently if I upload a package, people have to add https://conda.binstar.org/brentp to their condarc channels.

it would be nice if I could do, e.g.

[code]

or something like that and it would fall back to searching binstar if there wasn't one availalble in the paths specified in condarc channels.

[2013-07-02 17:04] asmeurer opened #14 "Cannot upload multiple files at once."
binstar client lets you specify multiple files to upload, but it only uploads the first one.

[2013-07-03 15:46] #14 closed, assigned to nobody

[2013-07-09 17:20] asmeurer opened #15 "login and config should happen automatically"
When the user is not logged in, it should just call binstar login automatically when you try to do an upload. The same for config, which is apparently necessary in some cases (I don't understand what `binstar config` does).

[2013-07-14 10:30] alefnula opened #18 "binstar upload problems"
I found a two problems with binstar upload.
1. When it uploads a package to binstar.org it doesn't create a valid repodata.json.bz2 file, the repodata.json is ok, it contains all the packages in the repository, but the bz2 version (which is the one that conda tries to fetch first) is always empty

[code]
2. When uploading a package on Windows8 it doesn't upload a valid bz2 archive. When I download

[2013-07-15 19:57] xxyyx opened #19 "Can't upload packages with numbers at beginning of name"
Packages with numbers at start of name raise an error:

$ binstar upload 9ML-0.1.0.tar.gz
detecting package type ... conda
extracting package attributes for upload ... done
BinstarError: package name 4ml not valid

Tried it with a few others; 4chan, 42qucc, 2mp4 and they all have the same error

[2013-07-16 22:36] #18 closed, assigned to nobody

[2013-08-15 20:21] asmeurer opened #24 "binstar remove could be more user-friendly"
Consider this amusing sequence of commands

[code]

[2013-08-15 20:40] #2 closed, assigned to asmeurer

[2013-09-05 14:43] Jacob-Barhak-Continuum opened #25 "Initial login to website issues"
You should look at the binstar.org web site login.

I ran into issues with creating a tester account for testing binstar.

I tried to create tester1 and put in my email address. Initially I did not put the beta code so the system did not accept me and raised an error.

Once I put in the code the system rejected me because tester 1 existed, so I switched to tester2 - then the system rejected me bec

[2013-09-06 21:42] Jacob-Barhak-Continuum opened #26 "404 error on the web site when pressing on a link"
If you press on the package name that appears on your dashboard a 404 error appears.

I uploaded cliutils from conda build after recipe was created using conda skeleton pypi. It was uploaded for tester3 and I pressed on the messages appearing on the dashboard where cliutils is underlined.

Note that I deleted and reentered the package several times in case it is related.

I hope this is easy to re

[2013-09-06 21:52] Jacob-Barhak-Continuum opened #27 "Over interaction with keyring on Linux"
In a clean machine upon binstar login the system asked the user for a keyring password.

After this password has been entered the user is again asked to enter the keyring password each time the user uses binstar - even though the user is loged in.

For example:
binstar whoami askes for password

Even conda build asks for the password after the user asks to upload to binstar.

This behavior was obs

[2013-09-10 12:12] ilanschnell opened #28 "Bug in binstar remove"
This is from the Anaconda email list:

Thanks, the `binstar remove` command worked although it always gave a traceback at the end:

[code]

C:\Users\dhirschfeld>binstar -V
binstar-script.py Command line client (version 0.3.0)

[2013-09-24 03:56] asmeurer opened #29 "Easier way to upload only new packages"
I did a `binstar upload ~/anaconda/conda-bld/osx-64/*.tar.bz2` to try and make sure that every package I had build was uploaded. But it failed because the first one already was. I used -i, but that made me answer for each package. Furthermore, I don't want to go through all the interactive crap for each package. I tried piping `yes n` into it, but as soon as it got to a package that wasn't uploade

[2013-10-22 14:12] bkreider opened #32 "binstar login - should behave like ssh"
This should behave like ssh and let you try your password multiple times with the same username rather than typing your username each time.  The reasoning is that you can see that you typed your username correctly, but you most likely fat-fingered the password.  If you screwed up your username as well, you can ctrl-c.

[code]

[2013-10-23 15:23] quasiben opened #33 "Pkg uploading name errors"
I'm unable to upload a package to binstar with a name someone has already take:

[BinstarError] Someone has already published the package "nodejs". You can either change the name of the package or change the visibility to "Public"

[2013-10-24 06:02] bkreider opened #34 "--personal and --private not working"
[code]

[2013-10-31 11:47] aschreyer opened #35 "Cannot login with binstar on OSX 10.9"
On OSX Mavericks it is not possible to login with `binstar login`. It asks for username and password but then fails with

[code]

The relevant packages are:

anaconda                  1.7.0                np17py27_0
binstar                   0.3.1                    py27_0

[2013-10-31 14:09] aschreyer opened #36 "binstar config --show fails with TypeError"
`$ binstar config --show`

[code]

[2013-11-06 19:58] bkreider opened #39 "Upload API documentation missing distribution_type"
What is distribution_type?

[code]

[2013-11-13 20:05] twiecki opened #40 "ImportError: cannot import name get_content_type"
[code]

This is with requests 2.0.1 and binstar 0.3.0.

[2013-11-14 21:07] #40 closed, assigned to nobody

[2013-11-14 21:08] twiecki opened #41 "Can't upload package with same name"
[code]

The way I understood is that a package can be distributed by multiple channels under the same name. Is this incorrect?

[2013-11-15 23:56] #41 closed, assigned to nobody

[2013-11-16 07:55] #36 closed, assigned to nobody

[2013-11-16 09:38] ghost opened #42 "Exception when used with requests 2.0.1 (pypi)"
requests 2.0.1

[code]

This exception does not occur with 1.0.0/1.2.3.

[2013-11-16 09:40] ghost opened #43 "Exception raised by keyring package not caught"
I'm on a bare bones linux box, no gnome/kde running and it appears
a dbus keyring service is not available on it. as a cli application untied
to a desktop environment it seems that should not be a requirement.

[code]

[2013-12-06 17:49] bkreider opened #45 "Upgrade to requests 2.0"
Binstar needs to use requests 2.0 so it can run in the root environment and be called by conda without breaking anytime a package that uses requests 2.0 gets installed.

ie: we should need to use envs to isolate all other packages that use requests because the client uses 1.x.

[2013-12-06 18:23] #45 closed, assigned to nobody

[2013-12-12 11:36] peter1000 opened #46 "Binstar 404: Page not Found"
hi,
I noticed at: Create a New Package: https://binstar.org/new

the link in:

Publish Anyone can download and install this package. This package will be hosted on binstar's global public repository.

gets: 404: Page not Found

I can not edit it.

Just to let you know

P

[2013-12-12 11:45] peter1000 opened #47 "https://binstar.org/explorer How to show ALL public packages"
hi,

I wonder how does one show on: https://binstar.org/explorer all available packages.

I see only "Most Recent" and "Most UpVoted" ... but I would like to brows ALL available packages or search for a name?

Anything I missed?

Cheers
P

[2013-12-12 15:35] peter1000 opened #48 "File Conflict: notification message?"
hi,

I'm not sure if the notification message by a file conflict is correct.

Distribution already exists. Please use the -i/--interactive option or <strong>`binstar delete peter/ta-lib-libraries/0.4.0/linux-64/ta-lib-libraries-0.4.0-0.tar.bz2`</strong>
[Conflict] file linux-64/ta-lib-libraries-0.4.0-0.tar.bz2 already exists for package ta-lib-libraries version 0.4.0

binstar: error: invalid choic

[2013-12-13 11:13] #47 closed, assigned to nobody

[2013-12-13 22:46] #15 closed, assigned to nobody

[2013-12-18 22:55] #13 closed, assigned to nobody

[2013-12-18 22:55] #32 closed, assigned to nobody

[2013-12-18 22:59] #25 closed, assigned to nobody

[2014-01-07 00:51] ilanschnell opened #49 "Error when uploading in new release"
Using the new 0.4.0 release, I get:

[code]

I have `keyring 3.2` installed, but that does not seem to be the problem.

[2014-01-07 00:58] #49 closed, assigned to nobody

[2014-01-09 12:11] melund opened #50 "Unable to publish a packages"
Hi

I am afraid I have messed up something on binstar, so I am now unable to add my package to the public registry. I get the following error on the homepage.

However, the name is not taken by an other user. I believe it happens since I was playing around trying to figure out how organizations work. I had a similar named published package in an organization. Then I deleted the organization withou

[2014-01-09 17:58] #50 closed, assigned to nobody

[2014-01-09 20:12] bkreider opened #51 "Auth function raises exceptions - localized datetime"
[code]

I made the following changes that hardcode to UTC, but make it work for me temporarily.

binstar_client/commands/authorizations.py:L14

[code]

L71:

[code]

You should have stronger checking around your string formatting to catch non-existent keys.

[2014-01-11 01:31] asmeurer opened #52 "binstar remove does nothing on bad arguments"
I did `binstar remove sphinxjp.theme.basicstrap` and it did nothing. I would hope for an error message (that's not even the right name for the package; it should be `themes`).

[2014-01-15 22:20] asmeurer opened #53 "Trouble reading metadata"
I have a test recipe: https://github.com/asmeurer/test-recipe/tree/master. After building, I get

[code]

[2014-01-24 16:54] asmeurer opened #54 "Make personal the default"
Personal is already the default with conda build. It should probably be the default in the client too, since packages are so likely to fail without it (due to already being published).

[2014-01-24 20:45] csoja opened #55 "Change Password Screen cut off on Chrome/MacOSX 10.7"
The first letters on the Change Password Screen (that you follow from email link after you say you forgot your password) are cutoff in Chrome & Firefox & Safari on MacOSX 10.7. No way to scroll to the left more to see the cut off words.

![screen shot 2014-01-24 at 2 44 39 pm](https://f.cloud.github.com/assets/2118331/1998688/6198f392-8538-11e3-8ec1-f132d4bb0065.png)

[2014-01-24 21:15] csoja opened #56 "Make it more obvious how to find your username when you forget it"
When you forget your password, you input your email address to get an email to change your password (not your username).  In the email you receive, your username is in the link - but it is not obvious.  Perhaps add "forgot your username" option on the login screen, since you need the correct username and password to login?

[2014-01-24 21:33] #55 closed, assigned to nobody

[2014-02-11 21:09] twiecki opened #58 "ImportError: No module named binstar_client.scripts.cli"
[code]

binstar                   0.4.4                    py27_1

[2014-02-11 22:05] #58 closed, assigned to nobody

[2014-02-12 17:47] bkreider opened #59 "ConnectionError: handle reconnects transparently"
[code]

Using the python API, I needed to reconnect using my token after a while of not using my client object.  The object has everything it needs to reconnect if the SSL connection drops.

[2014-02-12 23:15] bkreider opened #60 "During interactive got this error: add_package() got multiple values for keyword argument 'public'"
[code]

[2014-02-12 23:28] bkreider opened #61 "binstar register raises exception"
I pulled from source to try and get my binstar client to work again:

[code]

[2014-02-12 23:36] bkreider opened #62 "binstar upload silently fails without error code"
Accidentally forgot to add user.

[code]

[2014-02-13 14:25] #62 closed, assigned to nobody

[2014-02-13 14:32] #61 closed, assigned to nobody

[2014-02-21 15:13] fonnesbeck opened #63 "Cannot upload to organization: NotFound exception"
I am trying to upload a package to a Binstar organization of which I am a a member, but it fails with:

[code]

Bug, or am I doing something wrong? I am uploading using `binstar upload -u <orgname> <filename>`

[2014-03-17 15:36] asmeurer opened #65 "NameError: global name 'raw_input' is not defined in Python 3"
[code]

I recommend running the Python 3 version of pyflakes across the codebase to find such simple errors.

[2014-04-10 08:02] teoliphant opened #66 "Add a an --all flag to binstar upload that will run conda convert on the package"
The --all flag should upload the package for all versions of the file that can be created using conda convert.

It should upload the package itself and then successively run conda convert on the package for each different platform and upload the result.

[2014-04-15 19:47] asmeurer opened #68 "Error uploading file"
[code]

[2014-04-15 20:22] #68 closed, assigned to nobody

[2014-04-18 23:43] AnneTheAgile opened #69 "Binstar Website List should be sortable by version numbers."
Currently the PyPi search feature helpfully advises users of the versions available; the corresponding Binstar listing is obscure and requires many more clicks to find the correct package.

Using 'bottle' as an example;
https://pypi.python.org/pypi?%3Aaction=search&term=bottle&submit=search
https://pypi.python.org/pypi/bottle

https://binstar.org/search?q=bottle&type=conda&access=

I do not see a

[2014-04-22 01:00] #54 closed, assigned to nobody

[2014-04-22 01:44] #33 closed, assigned to nobody

[2014-04-28 16:27] #63 closed, assigned to nobody

[2014-04-30 06:33] mutirri opened #70 "Authentication problem when searching for packages"
Through my token (I have just one):
[code]
I'm able to upload new packages and publish them in binstar. Generally speaking I can perform all appropriate actions. Below you can see the result of day to day work:
[code]
But when I type below command, the authentication somehow fails:
[code]
More info:
[code]
and
[code]

[2014-04-30 06:38] #46 closed, assigned to nobody

[2014-05-05 16:04] asmeurer opened #72 "Include platforms in output of binstar search"
binstar search should show platforms in the output. Otherwise it's easy to fall into the trap of thinking a package is available but it really isn't for your platform.

[2014-05-11 03:42] SteveDiamond opened #74 "Login fails on OS 10.9"
I tried to `binstar login` on OS 10.9 and I got the following error after entering my username and password.

[code]

[2014-05-21 05:50] teoliphant opened #75 "Remove collections subcommand"
As collections are no longer a part of the binstar web-site, the collections subcommand from binstar should be removed --- and replaced with channels.

[2014-05-26 04:22] shanjoshi opened #79 "Internal server error"
Hello,

 I tried to login to binstar using binstar login
 It prompted me for a username and password, but then failed saying
[BinstarError] Internal server error

Shantanu

[2014-05-26 22:59] #79 closed, assigned to nobody

[2014-06-02 22:19] quasiben opened #81 "error on upload"
[code]

[2014-06-03 02:41] #81 closed, assigned to nobody

[2014-06-10 15:53] LilaHickey opened #83 "Token generation process does not handle non-unique names gracefully"
Crystal had asked me whether or not we could have two Anaconda Server tokens with the same name; I went to test this and discovered that there is nothing to prevent a user from doing so, but rather than generate a second token with the same name, the original token is overwritten.

Moreover, I was able to overwrite an Anaconda Server token (associated with the anaconda-server account) with a same-

[2014-06-17 11:27] pzwang opened #84 "Logger misspelled in binstar_client/commands/upload.py?"
Is this a typo?

https://github.com/Binstar/binstar_client/blob/master/binstar_client/commands/upload.py#L29

[2014-06-17 11:38] pzwang opened #85 "Improve handling of args.deprecated"
https://github.com/Binstar/binstar_client/blob/master/binstar_client/commands/upload.py#L56

The name `args.deprecated` is overly broad for what this is trying to catch.  It should be more properly named `deprecated_register_args` or something, to indicate that it's not just "any deprecated arguments", but just the ones related to registration or credentials.

This is, of course, assuming that it

[2014-06-17 15:39] #84 closed, assigned to nobody

[2014-06-17 20:13] tswicegood opened #86 "Add list of released files, their build numbers, and channels when deleting a package"
Currently the warning reads along the lines of:

    Are you sure you want to remove the package release tswicegood/awesome/1.0.0 ? (and all files under it?) [y|N]:

Would be nice if it acted like `conda` and gave me a full list of what was about to happen.

[2014-07-01 21:43] kyleabeauchamp opened #88 "Question: Tracking Download Statistics"
For many developers, keeping track of download statistics (how many downloads, unique users, etc) is useful for justifying one's work to bosses or funding agencies.  Is this something that's in development for either the binstar client or the binstar web dashboard?

[2014-07-08 23:05] #11 closed, assigned to nobody

[2014-07-08 23:15] #48 closed, assigned to nobody

[2014-07-08 23:15] #53 closed, assigned to nobody

[2014-07-11 17:35] bkreider opened #89 "binstar upload overloads -t <token>"
This won't work:

[code]

That -t is picked up as `-t <type>` and not token.

[2014-07-14 15:24] LilaHickey opened #90 "Better error message in event of token revokation"
At present if a token is revoked, the user will see the following message on attempting to access the channel:

[code]

Probably it would be good to make it clear in this message that the user's access has been revoked, and that this is not any kind of server error.

[2014-07-14 15:28] LilaHickey opened #91 "Expiration warning for tokens"
Related to issue #90, might be useful to warn users about an impending token expiration?  Maybe a month out, they get a warning message when accessing the channel, telling them that the token is expiring soon.

[2014-07-17 15:39] #60 closed, assigned to nobody

[2014-07-17 15:40] #42 closed, assigned to nobody

[2014-07-17 15:40] #43 closed, assigned to nobody

[2014-07-17 15:40] #35 closed, assigned to nobody

[2014-07-17 15:41] #34 closed, assigned to nobody

[2014-07-17 15:41] #29 closed, assigned to nobody

[2014-07-17 15:42] #27 closed, assigned to nobody

[2014-07-17 15:42] #85 closed, assigned to nobody

[2014-07-17 15:47] #51 closed, assigned to srossross

[2014-07-21 12:35] twiecki opened #92 "ImportError: No module named packages.urllib3.filepost"
[code]

Any ideas? I ran `conda update conda` and `conda update binstar`
[code]

[2014-07-21 12:37] #92 closed, assigned to nobody

[2014-07-23 20:20] ewiger opened #93 "login fails on ubuntu"
➜  ~  binstar login
Username: yy
yy's Password:
[BinstarError] Method Not Allowed: Specified method is invalid for this resource. (status code: 405

➜  ~  conda info
Current conda install:

[code]

  default environment : /home/yy/anaconda
     envs directories : /home/yy/anaconda/envs
        package cache : /home/yy/anaconda/pkgs
         channel URLs : https://conda.binstar.org/binstar/linux-64

[2014-07-24 12:46] #93 closed, assigned to nobody

[2014-07-27 09:55] rmcgibbo opened #94 "Binstar Badges?"
Random small thing: It would be cool if download stats on binstar were tracked, and we could add badges to README files, like the PyPI badges from http://shields.io/

[2014-08-02 21:03] hsharrison opened #95 "How to publish package to global channel"
For a while I thought you could only upload packages to your personal channel, but I saw some references here and there to a public, global channel. For example, #47 mentions https://conda.binstar.org/public but I get a 404 there. Another issue (on conda maybe) referenced a website option to publish a package to the global channel, but I can't find it. Am I missing something?

[2014-08-05 23:26] #95 closed, assigned to nobody

[2014-08-13 19:53] #89 closed, assigned to nobody

[2014-08-21 18:16] pitrou opened #96 ""binstar" without any argument raises exception"
It would be better to print a usage string or something.

[code]

[2014-08-22 14:42] ijstokes opened #97 "binstar search and show: include platform information"
I'm trying to install `fabric` on a Win8 machine.  `conda install fabric` directed me to `binstar search` which I tried, got a bunch of hits, and tried some.  No love.  So then I used the `binstar search` hint to get more details with `binstar show`.   Still no information on platform support.  So then I looked at the URL, and saw that the packages I was trying to install wasn't for Win8, so I jus

[2014-08-28 20:29] bashtage opened #100 "Regression in upload on Windows"
`binstar upload` works as expected using 0.5.5 (from conda install)  but errors with a `BinstarError` when detecting package information when using master.

[2014-09-12 18:34] tpowellcio opened #101 "Upload: pkg_resources.DistributionNotFound: pytz"
### Login Issue Tracback

After building a package I get:

[code]

This is caused by the user having auto upload enabled in their _.condarc_ file but not having logged into the binstar server.
### Fix: (do any one of the following)
1. Log into your binstar server

[code]
2. Remove the following live from your _.condarc_ file.

[code]
3. Change the following line in your _.condarc_ file from **yes*

[2014-09-24 19:34] petrushy opened #102 "noarch packages"
Hi,

I'm trying to make some documentation packages. These are not architecture dependent so I would like them to be installable on all platforms.

I have used the noarch: True in the meta.yaml file, which then uploads like a any-any architecture and on the web is visible as a source package.

When trying to install it (on my mac) with
conda install -c https://conda.binstar.org/petrush scipy-doc

[2014-10-20 23:15] bkreider opened #103 "Problems logging from multiple accounts on same machine"
Not only does it not allow me to login from 2 different linxu accounts on the same machine, it doesn't let me continue.

[code]

[2014-10-20 23:23] bkreider opened #104 "Revoked binstar token blocks public package"
After issue #103 forced me to revoke the binstar token, i ran into this inscrutable error:

[code]

That package is public, so there is no reason for it to try and use the binstar token.  Even if it was private, it doesn't say anything about how to refresh my binstar token.  That channel is not in my condarc.

[2014-10-28 15:39] pitrou opened #105 "AttributeError: 'Namespace' object has no attribute 'hostname'"
When trying to upload something, I get the following error:

[code]

[2014-11-13 17:01] yw5aj opened #106 "Missing parentheses in 'print' for pip install for python 3"
Hi,

When I install `binstar` with `pip` in Python 3 (64-bit, on Windows 7 64-bit), the following error popped out: `SyntaxError: Missing parentheses in call to 'print'`. It should be easy to fix though I guess?

[code]

[2014-12-12 20:03] #3 closed, assigned to nobody

[2014-12-12 20:04] #24 closed, assigned to nobody

[2014-12-12 20:05] #28 closed, assigned to nobody

[2014-12-12 20:06] #59 closed, assigned to nobody

[2014-12-12 20:07] #65 closed, assigned to nobody

[2014-12-12 20:07] #72 closed, assigned to LilaHickey

[2014-12-12 20:08] #74 closed, assigned to nobody

[2014-12-12 20:08] #75 closed, assigned to nobody

[2014-12-12 20:09] #83 closed, assigned to LilaHickey

[2014-12-12 20:10] #90 closed, assigned to LilaHickey

[2014-12-12 20:12] #96 closed, assigned to nobody

[2014-12-12 20:12] #100 closed, assigned to nobody

[2014-12-12 20:12] #101 closed, assigned to nobody

[2014-12-12 20:12] #103 closed, assigned to nobody

[2014-12-12 20:13] #104 closed, assigned to nobody

[2014-12-12 20:13] #105 closed, assigned to nobody

[2015-01-08 15:42] kyleabeauchamp opened #109 "Automatically increment build number on upload?"
So we have a workflow where we upload packages to https://binstar.org/omnia/mdtraj/ on either the `main` or the `jenkins` channel, where we use the `main` channel to hold our "production" releases and the `jenkins` channel to hold the pre-release candidates that are produced by our CI system.  At release time, we plan on manually switching the tarballs from jenkins to main.

However, we've found t

[2015-01-08 16:27] srossross commented on #109
CC @ilanschnell

[2015-01-08 23:34] tswicegood commented on #109
Hey @kyleabeauchamp -- trying to understand what's happened here.  You have a released 1.2.0 version of omnia, but you're building newer versions of the same thing?  This sounds like a perfect case for modifying the build number.  The build number lets you say "this is the same as this other version, but the build process was a little more refined.  If it's a truly new version, I would recommend c

[2015-01-08 23:51] craigbruce opened #110 "Client not usable by default?"
I've read the docs, but I must be missing something because I pip install binstar (v0.10.0) but I can't do anything, `binstar --help`, `binstar upload` or `binstar login` all yield this same error:

[code]
Am I missing something obvious?

[2015-01-09 00:02] srossross commented on #110
@craigbruce sorry for the inconvenience, this error has been fixed in version `0.10.1`

[2015-01-09 00:19] kyleabeauchamp commented on #109
Thanks, this idea could help us improve our build system.

We are working on a "dev release", but it's a little bit different because our big goal is to release a giant metapackage whose sub-packages (e.g. MDTraj) are already released versions.  Thus, the source code (and thus the MDTraj conda recipe) is released (not alpha or beta), but what we're trying to test are the actual binary uploads.  Th

[2015-01-09 00:19] #109 closed

[2015-01-09 00:58] craigbruce commented on #110
Excellent! That is working now, thanks for the quick resolution.

[2015-01-09 00:58] #110 closed

[2015-01-15 00:08] anderspitman opened #112 "Search API endpoint seems to be capped at 10 results"
If you hit the following endpoint:

``https://api.binstar.org/search?name=sphinx``

Only 10 results are returned. I know there are more sphinx packages than that because if I run a more specific query, I still get 10 results:

``https://api.binstar.org/search?name=sphinx-bootstrap``

So it appears to either be capped at 10, or the search algorithm isn't working as I expect. It would be nice to be

[2015-01-29 22:26] pelson opened #114 "binstar_client.Binstar.show_channel doesn't work"
Example:

[code]

On:

[code]

I understand that the binstar Python API is not stable, and that I should be using the binstar scripts, but I'm in particular need of adding some specific functionality which the CLI cannot yet do.

Am I missing something with show_channel?

It is a separate issue, but the next step which is failing is the use of add_channel, this appears to have a binstar API bug, w

[2015-01-29 22:32] srossross commented on #114
@pelson thanks for reporting this. I will look into this today.

[2015-02-11 15:49] bekozi opened #116 "BinstarError when uploading package"
I am encountering an error when attempting to upload a successfully built conda package to binstar (Ubuntu 14.04.1).

[code]

I pulled out the info folder from the built package and posted it here: https://www.dropbox.com/s/yxkezl35xcfk33s/info-gcc-4.8.2.tar.gz?dl=0.

Please let me know if you need anything else.

@rokuingh

[2015-02-11 15:53] srossross commented on #116
@bekozi can you update to the latest binstar client? This should be 0.10.1

[code]

[2015-02-11 16:01] bekozi commented on #116
Updated and unfortunately still getting the same error:

[code]

[2015-02-11 16:35] srossross commented on #116
OK, sorry. Can you run binstar upload with the `--show-traceback` option.
[code]

[2015-02-11 16:52] bekozi commented on #116
It's a MemoryError. I am running the build/upload on a small instance with only 1 GB of memory. The compressed package is relatively large (145 MB).

[code]

[2015-02-11 20:23] lilmatt opened #117 "Way to query the state of all workers and queues and whatever else we need to monitor"
As a sysadmin tasked with keeping binstar up, I need a way to monitor binstar to proactively fix things.

This should be a simple text page with little to no markup.
"OK" when happy, and something other than "OK" when not.

A second page which can easily give me why things are not "OK" would be helpful, but we wouldn't want it on the initial page. (We could do this with query params as well. Just

[2015-02-11 20:26] lilmatt opened #118 "Windows build workers need to revert to a pristine state between builds"
Windows build workers need to revert to a pristine state between builds.
Not doing so gives us trouble such as full disks, and will probably give us other troubles and conflicts eventually.

It is also a security issue to allow users to leave bits and pieces around on the disk between builds.
IIRC, this was one of the justifications to roll our own build tool rather than use Jenkins.

[2015-02-12 02:53] tswicegood commented on #118
:+1:

[2015-02-12 12:14] pelson commented on #114
@srossross - any progress with this? Have you been able to re-create? Is there anything you need from me? Is the binstar.org API documented anywhere?

[2015-02-12 18:03] srossross commented on #114
@pelson sorry for the delay. I have found the issue. I will fix this asap.

[2015-02-12 18:05] srossross commented on #114
@pelson this should be fixed now.

[2015-02-12 18:35] pelson commented on #114
Ah, was it a binstar.org API bug in the end?

Thanks for fixing! I'm going to take another look this evening. There was a problem with using add_channel which I'll see if I can reproduce.

[2015-02-16 16:01] bekozi commented on #116
I was able to successfully upload the package using a machine with more memory. Thanks for the help. I'm not sure if you want to close the issue, so will leave it open for now...

[2015-02-16 16:04] srossross commented on #116
Thanks @bekozi. I will keep this open. I need to better distinguish errors that are not caused by a badly constructed conda package.

[2015-02-17 02:44] grahamc opened #120 "Uploading package via token results in `AttributeError: 'str' object has no attribute 'decode'`"
[code]

[2015-02-17 12:57] marscher opened #121 "api permissions for binstar upload"
I've created a token on an organisation with "api:write,api:read" permissions and a sufficient long expiration time. However during "binstar -t $NEW_TOKEN upload ..." binstar states, it does not have the api:read permission.

     [Unauthorized] Authentication token does not have the sufficent scope to perform this action expected: api:read

Willing to provide more info if needed.

Thanks for look

[2015-02-17 13:55] marscher commented on #121
okay syntax of --scopes is "api:read api:write"

[2015-02-17 13:55] #121 closed

[2015-02-23 17:53] ilanschnell opened #122 "Wrong version displayed"
[code]
However:
[code]
In the code, I see:
[code]
However, `_version.py` does not exist.  I would recommend using versioneer.

[2015-02-23 17:56] srossross commented on #122
@ilanschnell are you using the existing conda.recipe when you create the binstar package?

[2015-02-23 19:43] ilanschnell commented on #122
Ah, I see now what the recipe is doing with `make_version.py`.  I would still recommend using versioneer.  conda, iopro, numba and several other of our projects use it and we never run into any problems.  All that needs to be done for a release it to git tag.

[2015-02-23 19:49] srossross commented on #122
Thanks @ilanschnell, I will start using versioneer.

[2015-02-24 00:27] ilanschnell commented on #122
I tried using `make_version.py`, but I get an error on Python 3.  So switching to versioneer will be a good thing.

[2015-02-24 13:28] faph opened #123 "binstar upload [SSLError] [SSL: CERTIFICATE_VERIFY_FAILED] win64 py34"
Hi

Today, I started to get an `[SSLError] [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed` error when doing `binstar upload`. It previously worked fine. Not sure if it's related to a recent update of some of the packages. My conda install looks like this:

[code]

And my root env like this:

[code]

`requests.get("https://api.binstar.org")` works fine.

Full error message:

[code]

[2015-02-24 16:37] fallen commented on #123
I have the same issue, I cannot upload any file on binstar anymore, either from Windows or from Linux (Debian Jessie). Same SSL error.
Even after a "conda update binstar" (so now I have up to date binstar client 0.10.1)

[2015-02-24 17:00] srossross commented on #123
We are currently looking into this error. I suspect it may be the latest release of conda.

If you want a workaround, you can manage your binstar SSL verification settings with:
[code]

[2015-02-24 17:04] fallen commented on #123
Just FYI, after a bit of wiresharking, it seems to be an issue with Amazon S3 storage SSL certificate.

[2015-02-24 17:05] fallen commented on #123
Thanks for the workaround btw!

[2015-02-24 17:46] faph commented on #123
Many thanks for looking into this. Workaround works well.

[2015-02-24 18:16] bkreider opened #124 "binstar groups raises exception"
[code]

[2015-02-24 18:20] faph commented on #123
Just to say, I get the same error on conda install and conda builds on my own channel.

See for example this build on Travis CI: <https://travis-ci.org/OpenHydrology/floodestimation/jobs/51939331>

[2015-02-24 20:52] faph commented on #123
It looks like this is solved with requests 2.5.3?

[2015-02-25 08:32] #123 closed

[2015-02-25 08:32] faph commented on #123
Many thanks for all your help.

[2015-02-25 21:46] #94 closed

[2015-02-25 21:48] rmcgibbo opened #125 "Badges cache too long?"
Latest binstar release of this package is `1.2.0`, uploaded about a month ago, but the badge shows `1.1.0`. I'm not sure if this is because I'm doing something wrong, or perhaps the CDN is really aggressively caching the svg?

- https://binstar.org/omnia/mdtraj/
- https://binstar.org/omnia/mdtraj/badges/version.svg

[2015-02-25 22:08] srossross commented on #125
@rmcgibbo ,Yes I think there is a cacheing issue. I am going to look into this as soon as possible.

[2015-02-25 23:29] tswicegood commented on #122
... cleaning out my inbox ...

FWIW, I have an open PR binstar-build (https://github.com/Binstar/binstar-build/pull/26) that solves this problem in a way that works well for bumping to alpha/dev versions without tags.

[2015-02-26 18:14] malev opened #126 "OSError: [Errno 40] Message too long when uploading PyPI package [py34]"
When following the [binstar's guide](http://docs.binstar.org/examples.html#UploadingAPypiPackage). I have this error:

[code]

This is my `conda info`:

[code]

Note that I'm on **python 3.4**

[2015-03-02 04:33] malev opened #127 "Upload ipython notebook files"
- [x] upload ipynb files
- [x] metadata must include notebook's name
- [x] metadata must include notebook's version

[2015-03-04 00:13] rmcgibbo commented on #125
it looks like this has been fixed.

[2015-03-04 00:13] #125 closed

[2015-03-10 00:12] ostrokach opened #130 "Can't use conda after creating binstar token: "Error: Could not find Binstar user USERNAME""
I can't install or update any package through `conda` after creating a binstar token using `binstar auth --create token_name`. I tried removing the created token using `binstar auth --remove token_name`. I removed all my accounts using `binstar remove auth_name`. No matter what I try, `conda install`, `conda update`, and `conda remove` don't work.

For example:

    $ conda remove binstar

    Fet

[2015-03-10 00:17] ostrokach commented on #130
OK, nevermind. I figured it out.
I just had to open my `.condarc` file and delete all channels other than `-  defaults`.
Thanks!

[2015-03-10 15:20] #130 closed

[2015-03-12 00:16] tswicegood opened #131 "Binstar should display user-friendly error message when unable to contact server"
Attempting to login on Windows 8 via Powershell or CMD, and I receive the following traceback after entering my password:

[code]

This is binstar 0.10.1.  I've tried both the conda installed and pip installed flavors.  Neither works.

[2015-03-12 00:18] tswicegood commented on #131
This may be a firewall setting on this new VM.  I'm unable to even hit `https://api.binstar.org/` via `requests.get` in a Python console.  Looking to see if there's any settings I need to enable.

[2015-03-12 00:23] tswicegood commented on #131
I was able to clone data from GitHub and am able to ping various known hosts (google, bing, yahoo, etc.).  For some reason I'm just unable to see binstar.org or api.binstar.org from CMD or Powershell.  I *can* load them both in Google Chrome, however.

[2015-03-12 01:10] tswicegood commented on #131
Ok.  I disabled all firewalls in Windows 8 but that didn't solve the problem.  I restarted and applied the updates and it appears to have gone away.  I'm leaving this as a `bug` as the user should never see a traceback, but adding `enhancement` as this should also display a message that `binstar` is unable to connect to the server.

[2015-03-19 13:26] megies opened #132 "Unclear in-line help for "package type" option in "upload" command"
Nowhere in the docs or source I can find information on what the valid options for "package type" in `binstar upload` are. Right now I am led to assume that an arbitrary string can be specified as package type. If there is a list of valid package types it should be mentioned in the command help string..

[2015-03-19 16:13] megies opened #133 "binstar upload "--force" option not working"
On an upload of an already existing file I get a `Distribution already exists. Please use the -i/--interactive or --force options` regardless whether I use the said `--force` option or not.
I think it must have wrong logic in there (the combination of nested if/else/continue return True/False/None is hardly intellegible to me): https://github.com/Binstar/binstar/blob/cd1c1674f7a21d9b200fd2cf11850c

[2015-03-19 16:35] megies commented on #133
![screenshot from 2015-03-19 17 33 33](https://cloud.githubusercontent.com/assets/1842780/6735414/45d79288-ce5e-11e4-842d-250a320f1a28.png)

[2015-03-19 17:43] srossross commented on #133
Thanks @megies we are looking into this now.

cc @asmeurer  @LilaHickey

[2015-03-26 19:17] malev opened #135 "Binstar should work with new ipynb files (ipython 3.0)"

[2015-03-26 19:51] malev commented on #135
WIP!

[2015-03-27 23:46] ovz opened #137 "Failure to download package from organization non-standard channe"
Originally posted at https://github.com/Binstar/docs.binstar.org/issues/54.

I have uploaded a private package to my organization, using non-standard channel test

The page

https://binstar.org/organization/salford_systems/dashboard/channels/test

instructs to use the following command to install a package

conda install -c https://conda.binstar.org/salford_systems/channel/test package

Yet when I

[2015-03-30 06:21] ovz opened #138 "Error: Could not find Binstar user noarch"
I created a security token using the following command

[code]

I then added it to .condarc on a Windows machine

[code]

After that when creating an environment

[code]

I get the following output ending with an error about user noarch.

<pre>
Fetching package metadata: ......c:\Anaconda\Win64\lib\site-packages\requests\packages\urllib3\util\ssl_.py:79: InsecurePlatformWarning: A true SSLContext

[2015-03-30 13:28] srossross commented on #138
@ovz  perhaps this is a cona issue @ilanschnell do you have any ideas what this is from?

[2015-03-30 13:34] ilanschnell commented on #138
This is basically: https://github.com/conda/conda/issues/1204

[2015-03-30 14:58] ovz commented on #138
Thanks guys. I did notice InsecurePlatformWarning too. My issue is "Error: Could not find Binstar user noarch". Note it started to happen only after I added a token as a channel.

Is there at least temporary workaround to make conda create succeed?

[2015-03-30 18:15] ovz commented on #138
I've just tested a Linux box. Getting

    Error: Could not find Binstar user noarch

there too.

[2015-03-30 22:42] srossross commented on #138
@ovz it looks like the channel name is invalid
[code]
should be:
[code]

[2015-04-01 19:43] ovz commented on #138
Thanks @srossross. For now I worked this around by using explicit binstar login. Would be good to have a complete example how to use tokens to upload private packages with no binstar login required.

[2015-04-02 14:41] FvD opened #140 "Add package deletion to the News Feed"
When I delete a package from binstar.org and then try to follow the link to the package from the News Feed I get the standard 404 error screen. But there is nothing that gives me an indication that I have in fact deleted that package.

A "this package was deleted" message instead of the 404 would perhaps be the most user-friendly. An alternative could be to list the deletion action in the News Fee

[2015-04-02 14:59] srossross commented on #140
Great Idea, thanks.

[2015-04-09 16:55] FvD opened #144 "Allow public visibility of badges for private package"
If I try to embed the link to a badge for a private package elsewhere it will give a 404 (authorization error).

It would be useful to be able to set the visibility of these badges in my package settings, as they are great (and meant for !) project status dashboards where the user should not need to log in to binstar.

[2015-04-09 17:01] FvD opened #145 "Public page does not show private package correctly"
On the binstar user page (public acess, no login) the package overview does not filter correctly for the private packages (https://binstar.org/username?filter=private):
-  If there are no public packages, only private packages: the "private tab" will state that there are "no private packages"
-  If there are public packages and no private packages: the "private tab" will list all public packages.

[2015-04-11 20:40] craigbruce opened #147 "Releases missing on pypi"
As per the docs we install via `pip install binstar` (as we are not in an anaconda environment). 0.10.2 and 0.10.3 are only available on GitHub, not PyPI (https://pypi.python.org/pypi/binstar).

Please can you ensure you upload to pypi when you publish new releases?

[2015-04-11 20:50] craigbruce opened #148 "Confusion over the version of binstar"
The version is set in multiple places, all of which can be wrong:

[code]

[2015-04-12 08:05] niallobyrnes commented on #123
Still broken for channels.
binstar config --set verify_ssl false  not working around it either

[2015-04-13 16:40] tswicegood commented on #148
Ping @ilanschnell @srossross.

[2015-04-13 16:51] ilanschnell commented on #148
When you install binstar using conda
[code]
, instead of pip.  The version is correct.

[2015-04-13 17:49] bryevdv commented on #148
Surely it should be made to work correctly, regardless of how it is installed?

[2015-04-13 17:52] craigbruce commented on #148
@bryevdv that would be my preference. Plus both methods are documented as valid installation routes: http://docs.binstar.org/#GettingStarted

[2015-04-13 17:54] ilanschnell commented on #148
@srossross I think the project should use versioneer, like most of our other projects do.

[2015-04-13 17:59] bryevdv commented on #148
+100

[2015-04-13 18:04] srossross commented on #148
Versioneer sounds great

[2015-04-13 18:36] tswicegood commented on #148
I'm going to have to be the negative person here -- a massive :-1: on versioneer.  Unless I've missed something obvious in how it works, it makes it impossible to release a development version of your software that has a minor version number +1 from the current release (i.e., current release is 1.2.3, next dev release is 1.3.0alpha) without a bunch of superfluous tags.

[2015-04-13 18:45] bryevdv commented on #148
We do exactly that for Bokeh? It's not built into versioneer but nothing in versioneer prevents it from happening.

[2015-04-13 18:49] ilanschnell commented on #148
@tswicegood when you say "release a development version", then you are talking about a "release", and all releases should be tagged.  Versioneer also sets very meaningful versions when the git repo is not taggeg, which include the number of commits after the last build, and a few digits of the commit hash.

[2015-04-13 19:16] tswicegood commented on #148
@ilanschnell when I say development version, think nightly.  I shouldn't have to create a `1.3.0alpha` tag to say this was the start of the next version of software that is officially released at 1.2.0.  That said, we've hijacked this thread to talk theory.  There's a legitimate bug that needs to be fixed.  There's code in the repository that's broken in a pretty significant way, it shouldn't be.

[2015-04-13 19:36] ilanschnell commented on #148
Why do you want to release the development version as `1.3.0alpha` ?  To me, `1.3.0alpha` is an official alpha release of the software, which should be tagged as such.

[2015-04-13 20:31] teoliphant commented on #148
@tswicegood Do you have alternative fix for the problem besides using versioneer?   @srossross Do @tswicegood concerns change your mind about using versioneer inside binstar_client?

[2015-04-13 20:33] asmeurer commented on #148
I thought the whole point of versioneer was to reasonably version "nightly" builds.

[2015-04-13 20:41] srossross commented on #148
I think that there are lots of different and valid ways to do versioning. Currently I have a [simple script (make_version.py)](https://github.com/Binstar/binstar/blob/master/make_version.py) that does the same functionality as versioneer. (adds binstar_client/_version.py) I did not know about versioneer at the time so I did not use it.

To be clear, versioning in binstar is working correctly for p

[2015-04-13 20:45] tswicegood commented on #148
@teoliphant my recommendation is that the version numbers are maintained directly in `setup.py` (or `binstar.__version__` which is could be imported by `setup.py`).  I've yet to see a compelling use-case for versioneer that conda-build plus GIT_* build strings can't fix.

[2015-04-14 02:34] bryevdv commented on #148
@tswicegood Here is why I like versioneer:

* I don't want real, full, actual releases on every CI build, because I don't want thousands (tens of thousands) of releases. If you want every CI build to go through the same release automation that a normal release goes through then I agree versioneer is not for you because it will drastically pollute your GH tag space.

* I want developers to be able

[2015-04-14 16:38] #135 closed

[2015-04-14 21:56] jiffyclub opened #150 "binstar mismatching platforms on upload"
I made a package with conda on my Mac then used `conda convert -p all osx-64/zbox-1.2.0-py34_0.tar.bz2` to broadcast it to all platforms. When I try to use the binstar CLI to upload the files it seems to be very confused. I tell it to upload the linux-32 package and it says it's uploading the osx-64 package:

[code]

When I go to https://binstar.org/jiffyclub/zbox the badge indicates there is a li

[2015-04-15 19:04] jiffyclub commented on #150
Just confirmed this on another computer. I'm completely blocked from uploading to binstar.org.

[2015-04-15 19:57] asmeurer commented on #150
Can you unarchive the converted package and verify that the platform is correct in `info/index.json`?

[2015-04-15 20:07] jiffyclub commented on #150
The platform is correct, but the subdir is wrong?

[code]

[2015-04-17 19:09] malev opened #151 "Remove Anaconda-client from readthedocs.org - not being maintained."
We shouldn't have 2 places with documentation we won't be able to update both of the at the same time

[2015-04-17 19:09] malev commented on #151
https://binstar-client.readthedocs.org/en/latest/

[2015-04-18 00:30] tswicegood commented on #151
:+1:

[2015-04-21 15:23] chrisnatali commented on #150
FYI, confirmed this issue using same conda/binstar versions on linux-64 platform.  Corrected the subdir attribute in the converted info/index.json for the appropriate platform (osx-64 in my case) and at least it uploaded to binstar.  Awaiting testing whether the install on that platform works.

[2015-04-22 00:19] malev opened #152 "When uploading notebooks, version should not be mandatory"

[2015-04-22 15:18] malev commented on #151
I wonder if @amfarrell knows about this?

[2015-04-22 15:35] amfarrell commented on #151
I don't have any particular knowledge but agree that having the documentation all in one place is in general better than two.

[2015-04-22 16:54] malev commented on #151
ok, gonna assign this to me and start the clean up

[2015-04-28 16:55] jiffyclub commented on #150
So is the official recommendation right now that if you want to upload converted packages to Binstar you need to manually fix the "subdir" field in each converted package?

[2015-04-29 19:30] kpurdon commented on #150
Not sure this is complete solution but I was able to get around this error by downgrading binstar `conda install binstar=0.10.1`.

[2015-05-07 16:31] damianavila commented on #150
We experienced the same with the automatic bokeh builds...

[2015-05-07 22:21] LilaHickey opened #153 "binstar package --list-collaborators option broken"
binstar package --list-collaborators <user>/<package-name>
Using binstar api site http:/api.binstar.rog
:Collaborators:
[NameError] global name 'binstar' is not defined
Traceback (most recent call last):
File "/auto/foopen/CONDA/bin/binstar", line 6, in <module>
sys.exit(main())
File "/auto/foopen/CONDA/lib/python2.7/site-packages/binstar_client/scripts/cli.py", line 94, in main
description=doc_,

[2015-05-11 19:08] LilaHickey opened #155 "Anaconda client erroneously references 'binstar.org' - should point to installed version of AS"
When the binstar client is configured to use a private Anaconda Server installation:

	hq-dhcp-20-64:mongoengine-0.9.0 lilahickey$ binstar config --set url http://104.131.203.85:8080/api

A bad login attempt still instructs the user to reset their password at binstar.org:

	The action you are performing requires authentication, please sign in:
	Username: LilaHickey
	LilaHickey's Password:
	[error]

[2015-05-11 21:33] LilaHickey opened #157 "binstar config --get url errors out if value has not yet been set"
There should be a default value or a more useful error message if the user tries to check the config url before setting it:

	[lila@localhost mongoengine-0.9.0]$ binstar config --get url
	[KeyError] url
	Traceback (most recent call last):
	  File "/home/lila/miniconda/bin/binstar", line 6, in <module>
	    sys.exit(main())
	  File "/home/lila/miniconda/lib/python2.7/site-packages/binstar_client/sc

[2015-05-19 16:32] JeremyEnns opened #161 "Binstar client does not have LDAP support"
We added LDAP support to Binstar Server so Enterprise customers can use their existing authentication system to access the Binstar Server but we do not seem to have the same functionality in the binstar client, it still requires users to login with a local account not their LDAP account.

This seems like a missed requirement / feature request.

Notes from Customer:

After changing the anaconda ser

[2015-05-19 16:55] tacaswell commented on #161
We have also seen this issue at BNL, but have not had the bandwidth to raise an issue about it.

[2015-05-27 20:49] jiffyclub commented on #150
Sorry to be a bother, but has there been any progress on this?

[2015-05-27 21:02] asmeurer commented on #150
The problem should be fixed in the latest version of conda-build.

[2015-05-29 15:41] malev opened #163 "Show a deprecation warning when using binstar.org"
If someone use `api.binstar.org` show a deprecation warning with instructions to change it for `api.anaconda.org` cc @LilaHickey

[2015-06-02 18:27] malev opened #165 "Update README.md to use docs.anaconda.org instead of readthedocs"

[2015-06-09 17:54] jiffyclub commented on #150
Confirmed this seems to be fixed. Thanks.

[2015-06-09 17:54] #150 closed

[2015-06-12 11:45] ovz opened #167 "Uploading private packages to custom channels"
I've also posted this question at binstar.org dashboard.

I need to make my package available only to a specific set of users. Can you please help me put together command-line commands to accomplish the steps below?

* Upload a *new* private package package_project *only* to a custom channel named channel_project.
* Generate a token named token_author that has permissions to upload to channel_proj

[2015-06-13 10:16] drf5n commented on #90
Which user?  The client or the token-revoker?   I get something similar with:

       $ conda install -c https://conda.binstar.org/jjhelmus pyproj
    Fetching package metadata: ....Error: HTTPError: 401 Client Error: UNAUTHORIZED: https://conda.binstar.org/jjhelmus/noarch/

[2015-06-13 10:58] drf5n commented on #104
Is it fixed in conda?

[2015-06-22 14:39] srossross commented on #167
Hi @ovz sorry for the delay

To be clear, this method is using binstar.org *channels* which are contained in your a single user account.

    binstar upload -c channel_project ... file.tar.bz2

Right now you can not restrict tokens to channels. I would recommend adding collaborators in the package setting page and use `binstar login`. This eliminates the need to use explicit tokens.

    binstar a

[2015-06-22 17:37] srossross opened #169 "Issue uploading notebook"
@malev
[code]

[2015-06-22 17:39] srossross opened #170 "Notebook prints incorrect url"
@malev
[code]
This is a 404. It should be https://notebooks.binstar.org/sean/test-data-ipynb

[2015-06-22 18:13] srossross opened #171 "Notebook version should be human readable"
The notebook version would be more meaningful if it were formatted as:

[code]

Instead of
[code]

[2015-06-23 22:55] ovz commented on #167
Hi @srossross,

Could you please clarify the entry about channels in http://docs.binstar.org/faq.html. I've copy-pasted the entry below. Per your response it is impossible to create a "dev" channel that only dev team can access. Should FAQ be fixed or there’re plans to add per-channel access control?

Channels
Q. What is a channel?

A. Channels are one way Binstar helps you control who can access

[2015-06-23 22:58] ovz commented on #167
I would like to confirm my understanding of access control principles at binstar.org. It is important for building a packaging system that works for my organization.

It looks like tokens have much wider permissions than users. Read-only token can install _any_ private package and read-write one can also modify any package. In contrast users have no permissions to packages unless added to a Group

[2015-06-24 18:41] srossross commented on #167
Yes, the FAQ should be fixed. This will be an available feature in the next few months.

Tokens were originally created to interface with conda and pypi urls. tokens `identify` you as a user and you can place some scope restrictions on actions you can perform with a token. `binstar login` creates a token with unlimited scope.

When you are distributing tokens, you are giving limited access to your

[2015-06-26 22:38] malev commented on #171
Agree! or super agree!

[2015-06-26 22:41] malev commented on #170
@srossross where can you see that?
[code]

[2015-07-01 00:21] jchodera opened #173 "binstar --force upload with token gives [BinstarError] Invalid dist_id"
We have an automated build server that builds conda packages and pushes them to our `omnia/openmm-dev` binstar package, but when passing a token (marked below as `****` for security) and using `--force`, these uploads occasionally fail with `Invalid dist_id` errors.

[code]

This issue has only started to appear recently.

[2015-07-01 00:44] srossross commented on #173
Thanks for reporting this, I will look into it.

[2015-07-01 16:58] malev opened #174 "`get_binstar` API hard to use outside binstar-cli - need it to be more loosely coupled"
I'm using `binstar` as a library and I can't use a different site (other than anaconda.org) because I can't set it up. `get_binstar` is too tight to the `binstar-cli` behavior https://github.com/Anaconda-Server/binstar/blob/master/binstar_client/utils/__init__.py#L153

[2015-07-04 13:50] jchodera commented on #173
Thanks!

[2015-07-10 15:53] srossross opened #177 "binstar notebook download error"
[code]

@malev

[2015-07-15 20:56] malev commented on #177
Happens when there is already a file with the name that will be downloaded
[code]

[2015-07-15 21:38] malev commented on #148
We have versioneer installed already https://github.com/Anaconda-Server/conda-server/commit/900d830778e32664fb0468b95a59c3ef6fbc7862

[2015-07-21 17:28] #177 closed

[2015-07-22 08:19] frol opened #185 "How can I force conda install from binstar use HTTP instead of HTTPS?"
I rebuild Docker images frequently, so I set up HTTP caching proxy on the local network. However, while I can force conda install to use HTTP for official repo by using channel `http://repo.continuum.io/pkgs/free` (notice `http://`), I cannot use this trick for binstar repos because even when I use channels with `http://` prefix (e.g. `http://conda.anaconda.org/asmeurer`). It just redirects to `ht

[2015-07-24 01:14] malev commented on #19
seems to be working now, closing

[2015-07-24 01:14] #19 closed

[2015-07-24 01:23] malev commented on #52
don't think that's gonna happen. Closing now

[2015-07-24 01:23] #52 closed

[2015-07-24 01:32] malev commented on #88
We count the amount of downloads. closing

[2015-07-24 01:32] #88 closed

[2015-07-24 01:33] #127 closed

[2015-07-24 01:33] malev commented on #122
This should be fixed by now

[2015-07-24 01:33] #122 closed

[2015-07-24 01:34] malev commented on #106
Fixed. tnx

[2015-07-24 01:34] #106 closed

[2015-07-24 01:35] malev commented on #171
They are now

[2015-07-24 01:35] #171 closed

[2015-07-24 01:35] malev commented on #170
closing

[2015-07-24 01:35] #170 closed

[2015-07-24 01:40] malev commented on #169
seems to be working for me. closing

[2015-07-24 01:40] #169 closed

[2015-07-24 16:10] malev opened #190 "Uniform CLI and API for "generic" Anaconda Server ur-packages"
From @ijstokes:

Anaconda Server has a very generic ur-package model (consisting of things like name, versions, ACL, meta-data). It would be helpful to have a uniform CLI and API to perform standard CRUD operations on these ur-packages without having to have a separate CLI and API for each package type, as seems to currently be the case.
I have promised @srossross that I'll provide more details of

[2015-07-30 20:56] malev opened #193 "Rename the library into anaconda-client"
- [x] Rename repo
- [x] Rename recipe
- [x] Rename sourcecode
- [x] Add executable called **anaconda**

[2015-07-30 23:24] jakirkham commented on #193
Will `conda server` still be an option going forward?

[2015-07-31 03:43] malev commented on #193
@jakirkham `conda server` should be working but it will be better if you start using it as `anaconda`

[2015-07-31 03:43] #193 closed

[2015-07-31 11:21] jakirkham commented on #193
@malev, why not keep the `conda` subcommand going forward? After all, it is working with products of conda-build.

[2015-07-31 15:25] malev commented on #193
@jakirkham well, conda has very specific usage now and we wanted to keep it that way. Also, anaconda-client is anaconda.org's clieent, so we feel like the new name makes more sense.

[2015-07-31 18:28] bkreider opened #195 "ConnectionError stacktrace when failling to connect to the API endpoint."
Stack trace when trying to get a custom AS running and connecting to the api endpoint:
[code]

[2015-07-31 18:48] malev commented on #195
Looks like the URL is not the right one. try `https://ac.demo.continuum.io/api`

[2015-08-01 02:16] bkreider commented on #195
Yes.  But why is there a massive stack trace being spewed to the user.  Why doesn't the error message say that instead of 20 lines of gobblygook?

[2015-08-01 17:03] jakirkham commented on #193
So, what I like about have a `conda` subcommand(s) is I can run it in any environment. If you switch to `anaconda-client`, I will need to again switch to the `root` environment to run commands. This is a bit tedious when you are building several packages and may want to upload some of them.

[2015-08-06 18:18] jakirkham opened #196 "ServerError when copying package from owner to self"
When running...

    $ conda server copy r/gcc/4.8.5

I see this error...

    Using binstar api site https://api.anaconda.org
    [ServerError] Internal server error

If I repeat the command, I get this error...

    Using binstar api site https://api.anaconda.org
    [Conflict] The file 4.8.5/linux-32/gcc-4.8.5-1.tar.bz2 already exists, can not copy

[2015-08-10 15:42] malev commented on #193
@jakirkham that is actually a good point. Well, you can add:
[code]
into your `.condarc`  so you will have `anaconda-client` on every environment that you create.

[2015-08-10 16:10] jakirkham commented on #193
Interesting, I hadn't seen this feature before. Thanks for sharing @malev. Couple of follow up questions.

1. Does this result in a fresh install of `anaconda-client` in every environment or is it aliased to the `root` environment somehow?
2. Is `anaconda-client` ok with being installed in a non-`root` environment?
3. Will this result in potentially different versions of `anaconda-client` in diffe

[2015-08-10 21:30] malev commented on #193
1. `conda` will install `anaconda-client` each time in every environment. But! They way `conda` works won't make a fresh installation each time, it will create a hard link to a previous installation. So it will be fast and it won't take extra space from your disk.
2. yes
3. good question and I believe the answer is yes. However I don't see any deprecation release coming soon so you shouldn't have

[2015-08-10 21:31] malev commented on #195
good point

[2015-08-13 12:33] frol commented on #137
@ovz I haven't tried to install a package from a token-URL yet, but I can install a private package with the following command (if I'm logged in):

[code]

Full URL (without a token) seems not to work, though, for private packages.

[2015-08-13 13:29] frol commented on #137
@ovz URL with token also works fine for me now.

[2015-08-18 07:14] pitrou opened #198 ""anaconda -h""
This message hasn't been updated for the new name:

[code]

[2015-08-18 21:41] malev commented on #198
@pitrou `conda server` has been deprecated. You should be using `anaconda-client` now. Run:
[code]

[2015-08-18 21:41] #198 closed

[2015-08-20 15:56] csoja opened #200 "binstar in command line login message"
Using binstar api site https://api.anaconda.org
The action you are performing requires authentication, please sign in:
Using binstar api site https://api.anaconda.org

[2015-08-26 04:58] pelson opened #203 "conda-server pre-link script expects $PREFIX/.messages.txt to exist"
I can't find the recipe for conda-server (I hope this is the right repo), but the conda-server has a pre-link script which is expecting there to exist a $PREFIX/.messages.txt. This isn't necessarily always available:

[code]

The script is:

[code]

I know I should be using anaconda-client, not conda-server, but just wanted to report the problem for future templates of deprecation messages like th

[2015-08-26 05:05] malev commented on #203
Hello @pelson, we have renamed `conda-server` into `anaconda-client` so this is the right repo and you can find the recipe in [here](https://github.com/Anaconda-Server/anaconda-client/tree/develop/conda.recipe).
We've been trying to find the right name for the package we believe that we did it. This is the final name, I'm very sorry for the inconviniences.

[2015-08-26 05:05] #203 closed

[2015-08-26 05:16] pelson commented on #203
Thanks @malev. That recipe is still [named binstar](https://github.com/Anaconda-Server/anaconda-client/blob/develop/conda.recipe/meta.yaml#L3), so I'm guessing your internal build isn't using that recipe (i.e. there is no pre-link.sh in that recipe either).

[2015-08-26 05:50] malev commented on #203
the recipe it is named binstar, that's because the package is called binstar in the CI, we haven't updated that yet. We need to work on some feature in anaconda.org before renaming the name of the recipe.
The `pre-link.sh` in the `conda-server` recipe was installed to show the deprecation warning. The real `anaconda-client`'s recipe is the one that I've linked before

[2015-08-28 20:12] pelson commented on #203
Yet I type ```conda install anaconda-client``` to install anaconda-client. That recipe must be somewhere?

[2015-08-29 20:52] flamingbear opened #204 "BUG: can't remove a channel with anaconda client."
I can't remove a channel with `anaconda channel --remove`

I'm working in the example-packages/conda directory:

Create a test package:

`$ conda build .`
[code]

upload it to my channel
`$ anaconda upload /Users/savoie/anaconda/conda-bld/osx-64/conda_gc_test-2.0.0-py27_1.tar.bz2  --channel test`

verify
`$ conda search --override -c matthewsavoie/channel/test`
[code]
copy the package to my main c

[2015-08-29 23:27] flamingbear commented on #204
environment info:
[code]

[2015-09-01 19:45] bkreider opened #205 "Reset password error should point to AS instance or anaconda.org."
This error message is very confusing when using airgap AS.  It looks like the user setup their config wrong.

https://github.com/Anaconda-Server/anaconda-client/blob/develop/binstar_client/commands/login.py#L81
[code]

[2015-09-01 19:47] bkreider opened #206 "Auto-detect bad API urls with AS"
It's a common mistake for customers and continuum staff to setup the URL wrong when trying to use anaconda-client with an AS install. (clarification:  for AS you need to add /api to the url but that isn't obvious because the anaconda.org uses subdomains:  api.anaconda.org)

Can AS and anaconda client figure out a way to return a nice message when one sets the API url wrong in anaconda client?  Thi

[2015-09-02 13:47] bkreider opened #207 "Handle DNS errors gracefully for invalid hostnames"
When configuring the client for enterprise AS installs, it raises a stack trace on invalid hostnames instead of a nice message:

[code]

[2015-09-02 14:15] srossross commented on #207
This is a great idea. Lets bump this to high priority because it should be easy to fix.

[2015-09-02 14:17] srossross commented on #206
This can probably be fixed in the same PR as #207

[2015-09-02 18:45] PeterDSteinberg commented on #205
This raises a more general issue that we should go through this repository and find where anaconda.org is hard-coded, then replace with AS instance.  For example, it also shows up in the output of anaconda-build when AS instance is localhost:
[code]

[2015-09-02 20:23] PeterDSteinberg commented on #205
Fixed by #208

[2015-09-02 20:23] #205 closed

[2015-09-04 02:38] stephenakearns commented on #205
+1

On Wed, Sep 2, 2015 at 1:45 PM, Peter Steinberg <notifications@github.com>
wrote:

--
*Stephen Kearns*
*Product Manager*

[2015-10-28 15:53] jakirkham opened #218 "Sort subcommands of `anaconda --help`"
Should list the `build` subcommand in `conda server --help`. Maybe this should be optional depending on whether `anaconda-build` is installed or it should explain that it requires `anaconda-build` to be installed to use if it is not already.

[2015-10-28 22:52] rafaelhbarros opened #220 "develop branch tests fail on py3"
[code]

[2015-10-29 16:02] rafaelhbarros commented on #220
The HasEnvironmentTest are fixed just by installing a dependency.

[2015-10-29 16:32] rafaelhbarros commented on #220
No code changes required. Only setup.

[2015-10-29 16:32] #220 closed

[2015-10-30 19:29] malev commented on #218
@jakirkham I encourage you to update `anaconda-client` to the latest version and start using the `anaconda` command instead of `conda server`.
On the other hand I do like your suggestion.

[2015-10-30 19:42] stephenakearns commented on #86
Duplicate of #559 - closing

[2015-10-30 19:42] #86 closed

[2015-10-30 19:43] stephenakearns commented on #114
closing - legacy issue. Please reopen if still an issue.

[2015-10-30 19:43] #114 closed

[2015-10-30 19:47] stephenakearns commented on #204
Will be addressed before end of year. (upcoming epic)

[2015-10-30 21:50] stephenakearns commented on #26
stale - closing

[2015-10-30 21:50] stephenakearns commented on #39
stale - close

[2015-10-30 21:50] #39 closed

[2015-10-30 21:50] #26 closed

[2015-10-30 21:51] #69 closed

[2015-10-30 21:51] #70 closed

[2015-10-30 21:52] #97 closed

[2015-10-30 21:52] stephenakearns commented on #102
Closing - consider logging this under the Conda rep

[2015-10-30 21:52] #102 closed

[2015-10-30 21:54] stephenakearns commented on #117
closing - updated build UI being released in the next couple of weeks may address.

[2015-10-30 21:54] #117 closed

[2015-10-30 21:55] #116 closed

[2015-10-30 21:56] stephenakearns commented on #118
We've been working on this - Anaconda-Server/Anaconda-Build#126 - but we are depending on some conda fixes @csoja  :-)

[2015-10-30 21:56] #118 closed

[2015-10-30 21:57] #120 closed

[2015-10-30 21:59] stephenakearns commented on #137
stale issue - closing - please reopen if still valid.

[2015-10-30 21:59] #137 closed

[2015-10-30 22:00] stephenakearns commented on #138
the first conda issue above was addressed in July - closing as stale issue. please reopen if still a concern.

[2015-10-30 22:00] #138 closed

[2015-10-30 22:01] stephenakearns commented on #140
@goanpeca - do you know if this issue can be closed. @srossross thought we may have addressed it?

[2015-10-30 22:03] stephenakearns commented on #147
This has been addressed. Our standard release process includes uploading to PyPI

[2015-10-30 22:03] #147 closed

[2015-10-30 22:04] #148 closed

[2015-10-30 22:06] PeterDSteinberg opened #221 "Allow optional silencing/jsonifying of "Using API site of ..." message"
Working with anaconda-build's usage of anaconda-client, I have a need to silence and/or jsonify any messages coming out of anaconda-client.  Currently there is a --json output flag PR in anaconda build (https://github.com/Anaconda-Server/anaconda-build/pull/124).  That PR jsonifies anaconda-build output but not all lines can be read as json because of non-json messages from anaconda-client.

[2015-10-30 22:09] stephenakearns commented on #221
Hi Peter - can you do me a favor - remove "in progress" and use the pipeline to set it as In Progress. LMK if you have any questions.

[2015-10-30 22:09] stephenakearns commented on #152
@malev - is this issue still active? Or can it be closed?

[2015-10-30 22:11] #157 closed

[2015-10-30 22:13] stephenakearns commented on #161
@JeremyEnns - just double-checking - is this still an open issue? (We are assuming it is still an issue and if yes, is a big issue).

[2015-10-30 22:16] stephenakearns commented on #163
not an issue for folks who are updating their client. closing

[2015-10-30 22:16] #163 closed

[2015-10-30 22:17] stephenakearns commented on #165
@electronwill - assuming this is no longer an issue, but if it is, LMK

[2015-10-30 22:17] #165 closed

[2015-10-30 22:18] #167 closed

[2015-10-30 22:19] stephenakearns commented on #173
fixed before end of year - part of upcoming epic

[2015-10-30 22:21] electronwill commented on #151
Oh wow, never knew there was a binstar readthedocs.org site. I'll clean that up and reply here when that's done.

[2015-10-30 22:22] stephenakearns commented on #185
Anaconda Cloud only supports HTTPS - so this isn't possible.

[2015-10-30 22:22] #185 closed

[2015-10-30 22:23] electronwill commented on #165
Yeah, looks like this was fixed in https://github.com/Anaconda-Server/anaconda-client/commit/3ac91d6750312e3660dd4b259642cae69309f1f3#diff-04c6e90faac2675aa89e2176d2eec7d8 and closing it is the right thing to do.

[2015-10-30 22:23] stephenakearns commented on #190
Referencing Anaconda-Server/Anaconda-server#559 - aiming to handle this in this one.

[2015-10-30 22:23] #190 closed

[2015-10-30 22:24] stephenakearns commented on #195
Closing - this is a duplicate of #206

[2015-10-30 22:24] #195 closed

[2015-10-30 22:26] stephenakearns commented on #196
issue being tracked in Anaconda-Server/docs.anaconda.org#119

[2015-10-30 22:26] #196 closed

[2015-10-30 22:28] stephenakearns commented on #200
Hi @malev  - it looks like you resolved this issue. I'm closing it but feel free to reopen if still an issue. cc: @csoja

[2015-10-30 22:28] #200 closed

[2015-10-30 22:46] PeterDSteinberg commented on #221
Closing this issue because I am able to achieve the silencing of messages from anaconda-build.

[2015-10-30 22:46] #221 closed

[2015-10-30 23:35] stephenakearns commented on #220
Thanks @rafaelhbarros  - when you say setup, what do you mean - The developer's local environment?

[2015-10-30 23:36] rafaelhbarros commented on #220
Yes, my local env
On Oct 30, 2015 6:35 PM, "stephenakearns" <notifications@github.com> wrote:

[2015-10-31 14:34] goanpeca commented on #140
Yes we have addressed this some time ago in [PR#459](https://github.com/Anaconda-Server/anaconda-server/pull/459)

[2015-10-31 14:34] #140 closed

[2015-10-31 17:31] wikiped opened #222 "`anaconda upload` fails to upload package from Win64"
While trying to upload a package with `anaconda upload` an error occurs:

	D:\Anaconda\conda-bld\win-64>anaconda upload cchardet-1.0.0-py27_0.tar.bz2
	Using anaconda-server api site https://api.anaconda.org
	detecting package type ...
	conda
	extracting package attributes for upload ...
	done

	Uploading file User/cchardet/1.0.0/win-64/cchardet-1.0.0-py27_0.tar.bz2 ...
	 uploaded 0 of 80Kb: 0.00%

[2015-11-01 00:13] jchodera opened #223 "'anaconda' channel is gone from anaconda.org?"
It looks like the `anaconda` channel is gone:
https://anaconda.org/anaconda

but has perhaps been replaced by `anaconda-old`?
https://anaconda.org/anaconda-old

Does anyone have any information on what is going on?  Some of our travis testing has suddenly stopped working as a result.

[2015-11-01 18:11] srossross commented on #222
@wikiped the looks like it is coming from the `requests` library. What version of requests do you have installed? (use `conda list`).  I will try and reproduce this error.

[2015-11-01 18:23] srossross commented on #223
Hi @jchodera, Thanks for reporting, we will work on getting the anaconda channel up and running as soon as possible.

[2015-11-01 18:46] wikiped commented on #222
requests version : 2.8.1 (latest)

I thought so too...
So reinstalled it, but still getting error.

[2015-11-02 15:49] srossross commented on #222
@wikiped can you try after downgrading requests:

[code]

[2015-11-02 17:49] wikiped commented on #222
Downgraded requests to 2.7 and upload works fine again without any errors.

[2015-11-03 02:30] jakirkham opened #224 "Revoke of organization token via CLI doesn't work"
If I try to do something like this `conda server -r <TOKEN> -o <ORG>`, it fails noting that the named token does not exist. Changing order has no effect. This was incorrect as the token did exist online and I would get an error message trying to create again due to the name already existing.

[2015-11-03 02:35] jakirkham commented on #204
Tried something similar and watched my `.condarc` file get garbled.

[2015-11-03 17:30] stephenakearns opened #225 "Build: work with Cluster team to get them up and running with Build"

[2015-11-03 17:30] #225 closed

[2015-11-05 16:59] damianavila opened #230 "Upload tar.gz Bokeh package is failing"
In a recent build, I found this issue:

[code]

I think this is the offending commit: https://github.com/Anaconda-Server/anaconda-client/commit/b1ac44438cb54126125be675de04400c0b3bcd2e

ping @malev, ideas?

[2015-11-06 16:30] gmarkall opened #231 "Make --no-register the default for anaconda upload?"
Supposing I create a private package on Anaconda.org, and then attempt to upload a package to it, but for some reason the uploaded package name does not match the name of the private package (perhaps because of a typo, or because I did not upload to the correct organisation). Because registering a new package is the default, a new public package gets created, and my private package is now accident

[2015-11-09 15:19] malev commented on #230
is this happening only in `1.1.2` ?

[2015-11-09 23:27] damianavila commented on #230
Not sure... previous successful experience was with 1.0.2...

[2015-11-10 11:20] stephenakearns commented on #218
Hi @malev - I'm a bit unclear on the suggestion here. Is the idea that the help info for Anaconda-Client would point to using the Anaconda Build client?

[2015-11-10 11:22] stephenakearns opened #233 "Change "anaconda.org" references to "Anaconda Cloud""
there are a small number of textual references in Anaconda Client to anaconda.org (e.g. in the help file text). A quick search reveals the list. Exceptions to this would be actual URL references which can remain.

[2015-11-10 11:27] stephenakearns commented on #223
Hi @jchodera and @srossross - I think this issue is resolved. Closing it, but if there's still an issue, please reopen or let me know.

[2015-11-10 11:27] #223 closed

[2015-11-10 13:34] goanpeca commented on #233
Agree, on a side note, do we have a name for our build infrastructure?

I informally call it the **Anaconda Cloud Build System**, maybe a bit verbose and could be just **Anaconda Build System**, we currently just call it builds and are maybe by doing so taking importance out of it.

@stephenakearns ?

[2015-11-10 14:09] jakirkham commented on #218
@stephenakearns, my thought is that each subcommand has a one line description. There should be one for `build`, as well.

[2015-11-10 14:41] stephenakearns commented on #233
Quick note - I've been using "Anaconda Build System" - let's use that for
now.

Also, question on this bug - I realized that the client tool would be used
not just for Anaconda Cloud but also for our Enterprise/Workgroup
customers. I was wondering if it's ok for them to see references to
Anaconda Cloud in the Anaconda-client? Might be odd, but I don't have a
good solution for it currently.

On Tue

[2015-11-10 15:33] goanpeca commented on #233
Well... Anaconda Server is the middle ground there I guess, the way I see it we have a product called **Anaconda Server**.

- When it is hosted and offered by Continuum on the cloud it is called **Anaconda Cloud**
- When it is hosted on a clients own infrastructure we call it **Anaconda Enterprise**

[2015-11-10 19:05] dalcinl commented on #230
I could upload by downgrading to ``1.0.2``. Both ``1.1.0`` and ``1.1.2`` failed with the same error.

[2015-11-10 22:04] JeremyEnns commented on #161
@stephenakearns I was told that the anaconda-client (binstar-client) did not have any code to use LDAP authentication, so this is likely still an issue.  The client was originally created to interface with anaconda.org but since we are using it for Anaconda Server as well it needs to share the same feature set as Anaconda Server does.  If we add LDAP authentication features to the web interface th

[2015-11-11 00:02] talumbau opened #234 "`anaconda login` doesn't work on Mac OS X with miniconda3"
Error message:
[code]

Other anaconda-client commands appear to work:

[code]

[code]

Conda version info:
[code]

The result of `conda update conda` is:

[code]

The version of `anaconda-client` is:
[code]

[2015-11-11 00:12] talumbau commented on #234
Verified that this does not work on my Mac when `anaconda-client` is installed in a python 3.4 or python 3.5 environment.

[2015-11-11 00:13] talumbau commented on #234
The work around is to supply the username and password for logging in at the command line:

[code]

[2015-11-11 12:39] ijstokes opened #236 "Create conda-tools meta-package for unified "root-env" common commands"
I hijacked @msarahan 's narrow issue around `conda-env` being a `root`-env-only package and turned it into a discussion around combining functionality into the `conda` package.  I will try to keep this discussion focused on my specific interest in `anaconda-client`.

Original issue: https://github.com/conda/conda-env/issues/179

@teoliphant and @ilanschnell I can express the issue from a different

[2015-11-11 13:04] ijstokes opened #237 "logout asks for user to login to complete action"
This is taken from a user on the anaconda mailing list.  He's seeing some pretty weird behavior.

[code]

[2015-11-11 16:35] srossross commented on #234
Thanks for reporting, I will work on a fix.

[2015-11-11 18:43] PeterDSteinberg commented on #237
I'm having trouble reproducing this.  I see that logout.py ends up making a DELETE request to``` <domain>/authentications```.  In the [AS repo here](https://github.com/Anaconda-Server/anaconda-server/blob/develop/binstar/sites/api/views/authentications.py#L142) the /authentications uri is shown with the ```@requires_auth_token('api:read')``` decorator.  Is it possible @srossross  that hitting that

[2015-11-11 18:47] srossross commented on #237
@PeterDSteinberg to reproduce, can you try to log in and then remove the token from the gui `/settings/access` -> details -> Revoke Token.

Then try running the `anaconda logout` command.

[2015-11-11 18:59] ijstokes commented on #237
This is all on the Anaconda mailing list and I'm sure the OP would appreciate some suggestions from someone who understands what might be going on here better than I do.  Here is the outcome of a suggestion I made to manually (using `rm`) remove the tokens, update conda, and then try again:

[code]

The first bits work:

[code]

but then the same error:

[code]

[2015-11-11 19:13] drf5n commented on #237
Yep.  That's me.  I've gotten to this point from earlier issues noted in https://github.com/Anaconda-Server/docs.anaconda.org/issues/145

[2015-11-11 19:33] drf5n commented on #237
Also, if I try a python 3 environment, I get this:

    (root)$ . activate python3
    discarding /Users/drf/anaconda/bin from PATH
    prepending /Users/drf/anaconda/envs/python3/bin to PATH
    (python3)$ anaconda whoami
    Using anaconda-server api site https://api.anaconda.org
    Username: drf5n
    Member since: Sat Jun 13 10:01:53 2015
      +user_type: user
    (python3)$ anaconda logout

[2015-11-11 19:36] PeterDSteinberg commented on #237
@srossross: When trying the scenario you suggested (log in, then revoke the token via UI settings/access -> details -> revoke, then anaconda logout), I am seeing that the DELETE request to /api/authentications is a 401 status code.  I'll put some logging in there to see more.

[2015-11-11 19:56] PeterDSteinberg commented on #237
The source of the 401 status code is either [this line in the requires_auth_token decorator](https://github.com/Anaconda-Server/anaconda-server/blob/develop/binstar/sites/api/decorators.py#L45) or [this line in the requires_auth_token decorator](https://github.com/Anaconda-Server/anaconda-server/blob/develop/binstar/sites/api/decorators.py#L53)

[2015-11-11 20:11] PeterDSteinberg commented on #237
When anaconda-client gets the 401 response back, it raises errors.Unauthorized [here](https://github.com/Anaconda-Server/anaconda-client/blob/develop/binstar_client/__init__.py#L153) and that exception is caught [here in cli.py](https://github.com/Anaconda-Server/anaconda-client/blob/develop/binstar_client/scripts/cli.py#L66) where cli.py then forces logging in again because of the Unauthorized er

[2015-11-11 20:51] amccarty opened #239 "Post-commit hook integration with Github Enterprise, etc."
We need to consider adding integrations with GH Enterprise, Gitlab, Sourcetree, etc. for enterprise clients behind firewalls.

[2015-11-11 20:53] drf5n commented on #237
Prior to the login-to-logout oddity, it appears that the login might have been unsuccessful somehow:

    (py27)$ rm ~/Library/Application\ Support/binstar/*.token
    (py27)$ rm ~/Library/Application\ Support/binstar/*.token
    rm: /Users/drf/Library/Application Support/binstar/*.token: No such file or directory
    (py27)$ anaconda login
    Using anaconda-server api site https://api.anaconda.o

[2015-11-11 20:57] srossross commented on #239
@amccarty thanks for creating this issue. I think this issue belongs in the server repository because I think we are going to tackle this as an "Epic" or "Theme" and we can discuss it privately there.

[2015-11-11 22:25] amccarty commented on #239
whoops - misplaced issue  - will move.

[2015-11-11 22:27] #239 closed

[2015-11-12 02:54] srossross commented on #222
Thanks @wikiped I don't think that the root error is fixed. I have had this error with `requests 2.7` as well.  We are still working on a permanent fix.

[2015-11-12 02:59] srossross commented on #234
@talumbau can you post the results of `conda list`? I can not reproduce this with a clean python3 environment.

[2015-11-12 05:14] srossross commented on #218
@jakirkham If you are not seeing build in the command list of `anaconda --help` then you do not have anaconda-build installed. I am also :+1: on adding a "please run `conda install anaconda-build`" help line if it is not installed.

[2015-11-12 05:30] jakirkham commented on #218
That was not true at the time. However, it has since changed. I would like to suggest though that `build` be placed in alphabetical order so that it better follows with the existing sort.

[2015-11-12 05:45] srossross commented on #161
@JeremyEnns the anaconda-client does not use LDAP authentication because it authenticates with anaconda-server directly, if the server is using LDAP then the client is indirectly as well.

I think that the there was [a fix](https://github.com/Anaconda-Server/anaconda-server/commit/c051c878e390c3cddfe41c9dabf3e56b49891046) to the server that addressed this issue.

[2015-11-12 19:35] dsludwig opened #242 "Clean up test data organization"
Right now there are 7 data_dir/data_path method definitions:
- `binstar_client/`CLITestCase`defines`data_dir`method, locates all test files in`binstar_client/tests/data`
- `binstar_client/inspect_package/tests/*.py` each define a `data_path` function, relative to `__file__`
- `binstar_client/utils/notebook/tests/*.py` each define a `data_dir` method, relative to `__file__`

[2015-11-12 19:37] goanpeca commented on #242
@dsludwig can you estimate some story points for this?

[2015-11-12 20:12] electronwill commented on #237
Does the 'anaconda login --username jsmith' workaround work for you?

[2015-11-12 20:24] drf5n commented on #237
The workaround works in the python3 environment, and it appears that the login is persistent across environment changes:

    (python3)$ anaconda -v login --username drf5n --password $JUNK
    login successful
    drf5n's (python3)$ anaconda whoami
    Using anaconda-server api site https://api.anaconda.org
    Username: drf5n
    Member since: Sat Jun 13 10:01:53 2015
      +user_type: user
    (

[2015-11-12 20:47] talumbau commented on #234
Sure. Running `conda list` in root environment yields:

[code]

[2015-11-12 21:04] srossross commented on #234
Thanks, I will continue to work on this.

[2015-11-12 22:16] srossross commented on #234
Quick update, I have fixed this issue here: Anaconda-Server/clyent#4 and I will put it in the next release.

[2015-11-12 23:24] srossross commented on #234
I did not mean to close this issue. I will close it when the code is released.

[2015-11-13 16:57] drf5n commented on #237
That the work-around login in my python3 environments appears to login does not fix the initial problem I was having:

    (python3)$ conda install -c r r-irkernel
    Fetching package metadata: ....Warning: you may need to login to binstar again with 'binstar login' to access private packages(https://conda.anaconda.org/t/<TOKEN>/r/noarch/, 401 Client Error: UNAUTHORIZED for url: https://conda.ana

[2015-11-13 17:52] #230 closed

[2015-11-13 23:08] dsludwig commented on #222
kennethreitz/requests#2818
shazow/urllib3#719

Based on these two issues, either this will be resolved when a new version of requests is released with an upgraded urllib3 that has the `memoryview` call removed, or we will have to identify where we are letting `unicode` objects into the `requests` api.

[2015-11-16 15:35] Korijn commented on #231
:+1:

[2015-11-16 17:49] dsludwig commented on #222
To reproduce on OS X: `conda install ndg-httpsclient pyasn1 PyOpenSSL` and then try to upload a package.

[2015-11-24 21:06] srossross commented on #222
This will make it into the next release. We will close the issue when that release makes it out.

[2015-11-27 17:23] stephenakearns commented on #234
Hi @srossross - this is listed in the "externally blocked" pipeline - what is the blocker?

[2015-11-27 17:37] stephenakearns opened #249 "Bug: Anaconda Login fails with ugly error if no username parameter specified"
Logged by @electronwill:

'anaconda login --username wwarner' works but 'anaconda login' fails with "AttributeError: 'ColorStream' object has no attribute 'errors'"

[2015-11-27 17:39] stephenakearns opened #250 "Bug: `anaconda notebook download` fails with `BinstarError`"
logged by @electronwill :

Downloading notebooks with the web interface works but 'anaconda notebook download brief-test' and 'anaconda notebook download wwarner/brief-test' both fail with "BinstarError"

[2015-11-27 17:40] stephenakearns commented on #250
whoever ends up working on this, please check with @malev as he will likely have the most context on the Anaconda notebook commands in the Client tool

[2015-11-27 17:41] stephenakearns opened #251 "Bug: "anaconda remove" fails with "AttributeError: 'ColorStream' object has no attribute 'errors'""
Logged by @electronwill :

Removing or deleting files and packages with the web interface works but 'anaconda remove wwarner/testci' fails with "AttributeError"

[2015-11-27 17:43] stephenakearns opened #252 "Anaconda Notebook syntax not consistent - should use .ipynb suffix consistently"
logged by @electronwill :

It would be nice to have consistent syntax for anaconda notebook upload and anaconda notebook download, either using the .ipynb suffix for both or neither.

[2015-11-27 18:18] stephenakearns commented on #251
@electronwill - can you repro this issue and then copy in the stack trace from the error - by providing the full traceback, it will make the issue very issue to troubleshoot and hopefully fix.

[2015-11-27 18:20] stephenakearns commented on #250
@electronwill - can you copy and paste in the actual screen output with the error message? (as much detail as possible)

[2015-11-27 21:04] dsludwig commented on #237
@drf5n

The warning from `conda install` will happen if you have conda channels containing expired/revoked tokens. To debug this:

[code]

If the token is still valid, it will display:

[code]

Otherwise it will show:

[code]

The channel name containing the invalid token can be removed using:
[code]

You can then generate a new token and add it to your conda channels:
http://docs.anaconda.org/usi

[2015-11-27 22:34] srossross commented on #249
This is a duplicate issue to #234 and #237

[2015-11-27 22:34] #249 closed

[2015-11-27 22:35] srossross commented on #251
I can not reproduce this error.

[2015-11-27 22:39] srossross commented on #233
Sine the client does not know in advance if it is going to be used for cloud or enterprise, should we just use "anaconda server" or "Anaconda Cloud"

[2015-11-30 02:26] ContinuumJira commented on #233
Hi Sean - wherever possible (always?) use the BRAND environment variable so
that it can be set in one location and propagate everywhere on deployment.
Are there places in the code where this is not possible?

On Fri, Nov 27, 2015 at 4:39 PM, Sean Ross-Ross <notifications@github.com>
wrote:

--
*Stephen Kearns*
*Product Manager*

*w: (512) 776-1096*
*m: (737) 444-0474*
*t: @stephenakearns*
*skype:

[2015-11-30 02:27] stephenakearns commented on #251
@electronwill Please reopen if u are able to repro

[2015-11-30 02:30] srossross commented on #233
@stephenakearns it looks like you are using the a "continuumJira" account. can you switch to your stephenakearns account?

Yes. only the code in the server repo has access to the continuum BRAND variable

[2015-11-30 02:33] ContinuumJira commented on #233
RIght! Let me check and find out.

On Sun, Nov 29, 2015 at 8:30 PM, Sean Ross-Ross <notifications@github.com>
wrote:

--
*Stephen Kearns*
*Product Manager*

*w: (512) 776-1096*
*m: (737) 444-0474*
*t: @stephenakearns*
*skype: stephen.kearns*

[2015-11-30 02:38] stephenakearns commented on #233
ok - no clue why it's interpreting my replies as Jira...

Can we use a generic reference to Anaconda? (dont specify cloud or entereprise)

[2015-12-01 18:26] electronwill commented on #250
Sure. This was from https://github.com/Anaconda-Server/anaconda-server/issues/823

'anaconda notebook download brief-test' and 'anaconda notebook download wwarner/brief-test' both fail with BinstarError:

[code]

No file is created.

[2015-12-01 18:40] electronwill commented on #251
Sure. This was from https://github.com/Anaconda-Server/anaconda-server/issues/823 , but I went ahead and reproduced it using the wwarner3 test account.

[code]

[2015-12-01 18:59] electronwill commented on #250
I just realized that this error happened when using Alan's test server for the Ford project at http://54.165.195.42:8080 , but when using Anaconda Cloud it works fine.

[2015-12-01 19:02] electronwill commented on #251
It appears that `anaconda remove` is producing the same error produced by `anaconda login` in this issue: https://github.com/Anaconda-Server/anaconda-client/issues/234

[2015-12-01 19:07] #233 closed

[2015-12-01 19:07] srossross commented on #251
this is a duplicate issue.

[2015-12-01 19:07] #251 closed

[2015-12-02 16:47] srossross commented on #234
@stephenakearns we are waiting on a release in anaconda conda.

[2015-12-02 16:50] srossross commented on #234
cc @ilanschnell @csoja

[2015-12-02 20:20] dsludwig opened #256 "Raise warning if user has requests > 2.7 and PyOpenSSL, etc installed"
In order to mitigate #222 and #244 and allow upgrading requests, we should issue a warning if a user has an environment where this bug will exhibit. That means:

* `requests.packages.urllib3.contrib.pyopenssl` is importable
* `requests.__version__` is > 2.7

Still proceed with the upload, just detect and warn.

@srossross what should the warning direct users to do? Uninstall the PyOpenSSL librarie

[2015-12-02 22:44] ijstokes opened #258 "remove copy sub-command"
It doesn't seem like the `anaconda copy` problem (which is server-side) is getting resolved any time soon (https://github.com/Anaconda-Server/anaconda-server/issues/612) so in the mean time the `copy` subcommand should be removed from the `anaconda-client` package so as to not confuse users.  We have had two releases of the client-side package since the functionality was turned off on the server-s

[2015-12-02 22:47] srossross commented on #258
@ian we are actively working on this internally

[2015-12-02 22:47] #258 closed

[2015-12-04 19:30] srossross commented on #161
Closing issue, please re-open if required

[2015-12-04 19:30] #161 closed

[2015-12-04 19:40] srossross commented on #237
This is fixed in the latest release.

[2015-12-04 19:40] #237 closed

[2015-12-04 19:56] dsludwig commented on #222
This issue has been fixed in the latest release. There is still an outstanding issue with requests 2.8, but they are working on releasing 2.9, and for now you can downgrade to 2.7.

[2015-12-04 19:56] #256 closed

[2015-12-04 19:57] dsludwig commented on #256
Added in the latest release.

[2015-12-04 19:59] dsludwig commented on #250
This has been fixed in the latest release (1.2.1)

[2015-12-04 19:59] #250 closed

[2015-12-04 20:29] srossross commented on #231
I am :+1: for this as well. This is moving up in priorities so keep an eye out here for when it gets released.

[2015-12-04 20:33] srossross commented on #234
This is released! Thanks everyone.

[2015-12-04 20:33] #234 closed

[2015-12-07 21:40] malev commented on #222
This is happening again in the `osx` worker
[code]

[2015-12-08 21:24] ContinuumJira commented on #222
@malev - in certain scenarios, there's a workaround - can you check with
Derek

On Mon, Dec 7, 2015 at 3:40 PM, Marcos Vanetta <notifications@github.com>
wrote:

--
*Stephen Kearns*
*Product Manager*

*w: (512) 776-1096*
*m: (737) 444-0474*
*t: @stephenakearns*
*skype: stephen.kearns*

[2015-12-09 22:03] ijstokes commented on #222
Who is @ContinuumJira ? As I said in FD, it is impossible that there is no way to do an HTTP POST in Python using `requests`.  That not working would be a super fundamental failure of the entire package.  There must be some way we can adapt the call we're making so it will work.

[2015-12-10 02:32] ijstokes opened #259 "Dupe: anaconda upload -u (user) option should be -c (channel)"
It is odd to do:

[code]

to upload `barpkg` into the "user" space specified by `-u` and then (perhaps just moments later) to do:

[code]

I would like to suggest that Anaconda Client instead make use of `-c` (channel) instead of `-u` (user)

[2015-12-10 14:51] ijstokes commented on #236
And more variations on this:

[code]

Oh dear, that isn't what the person really wanted to do.

[2015-12-11 17:36] stephenakearns commented on #259
Duplicate of Anaconda-Server/Anaconda-server#559 which is in progress in current epic.

[2015-12-11 17:36] #259 closed

[2015-12-16 16:51] rafaelhbarros commented on #224
`conda server` is deprecated. `anaconda auth` should be used instead. There is still a bug and I'm working on it.

[2015-12-16 18:22] stephenakearns commented on #174
@malev - can you expand description on this issue = I'm a bit unclear about the use case?

[2015-12-16 18:23] stephenakearns commented on #152
@malev - no response - closing for now - feel free to reopen if you still think this should be addressed

[2015-12-16 18:23] #152 closed

[2015-12-16 18:24] stephenakearns commented on #151
@electronwill following up on this one...

[2015-12-16 19:30] drf5n commented on #237
@dsludwig -- I only had '--add-channels default' listed, with not other channels or tokens listed.

Latest release of what?  'conda update conda' didn't fix it.  A 'conda update anaconda'  appears to allow me to logout without asking for me to login again.  But even with an updated conda and anaconda, login doesn't appear to recognize that I'm logged in properly:

    $
    $ conda --version
    c

[2015-12-16 19:42] stephenakearns commented on #174
Example Use case: conda env and nb_anacondacloud should be able to import binstar and use the commands smoothly. Right now, if you do that you'll need to pass a fake args object.

[2015-12-16 20:47] stephenakearns commented on #112
tried this again today - API results return 10 items - but if you search Anaconda cloud you get 346 results - https://anaconda.org/search?q=sphinx

[2015-12-18 21:48] stephenakearns commented on #173
including in new epic - "reenable copy"

[2015-12-23 19:07] dsludwig commented on #222
http://docs.python-requests.org/en/latest/community/updates/#release-and-version-history

Requests 2.9.1 has been released with a fix to the upload code. Upgrading your version of the library should resolve all instances of this issue.

[2015-12-23 19:07] #222 closed

[2015-12-23 20:25] rafaelhbarros commented on #231
This is ready for review to whoever can comment on it.

[2015-12-24 00:40] jchodera commented on #173
Thanks for the update, @stephenakearns!

[2015-12-29 18:50] flamingbear opened #264 "uploading with --force gives two different results"
I originally posted this to https://github.com/Anaconda-Server/support/issues/13 But I think this is an anaconda-client issue.    So I'm re-posting here:

our CI is broken due to what looks like a new behavior/bug in `anaconda upload`

[code]
Same command:

[code]

These two results toggle back and forth.

[2015-12-29 18:52] flamingbear opened #265 "anaconda remove errors from server."
Trying to work around my other issues: #264  & https://github.com/Anaconda-Server/support/issues/11 I thought I would just use anaconda remove before trying to upload a new package.  It appears to give me an error the first time I try and then succeed after that when using the --force flag each time.

Try to remove the linux version.
[code]

Try to remove the osx version:
[code]

If I don't use th

[2015-12-29 18:58] PeterDSteinberg commented on #265
@flamingbear Could you post here the results of ```conda list``` here (listing of packages and version numbers), or at least the parts of that output that relate to ```anaconda-client```, ```anaconda-build```, ```clyent```, and/or ```binstar-server```.  I am wondering if at least the ```ColorStream``` error has already been fixed in newer versions.

[2015-12-29 19:37] flamingbear commented on #265
Hi, I actually thought of that after I posted.  I conda updated everything I could think of.  Here's the current conda list.

And I "swear"(tm) that this was still broken, but now it appears to be functional.
I will look on another package and see if it is failing with older anaconda-client and report back...

[code]

[2015-12-29 20:03] flamingbear commented on #265
So on another project I still get the remove error:

[code]

[2015-12-29 20:07] flamingbear commented on #265
For what it's worth.  I can delete the other package from vfreezingrink.  Meaning removing seaicetimeseries is failing, and removing seaicedata is working.  Or it appears to be that way to me.

[code]

[2015-12-29 20:08] PeterDSteinberg commented on #265
Could it be a bad token?  The usage of ```$token``` in the quote above is different from the above examples with ```$ANACONDA_TOKEN```.  Could it be, @flamingbear, that one token is okay and the other one is undefined or expired?

[2015-12-29 20:09] flamingbear commented on #265
I will look, but I just got tired of typing ANACONDA_TOKEN on the commandline, so stored it in token.

No, they are identical tokens on both machines.

[2015-12-29 20:17] PeterDSteinberg commented on #265
Okay. Thank you for checking.  Can you repeat one of the commands, @flamingbear, that is causing an error, but add the ```--show-traceback``` argument to ```anaconda``` so we can see more info about the 500 status error.  An example would be:
[code]

[2015-12-29 20:20] flamingbear commented on #265
Sure, but I have to do it with seaicetimeseries since seaicedata doesn't seem to be having the problem anymore...

[code]
Note that after the above command, and then just running again, it shows that the file was deleted from the server.

[code]

[2015-12-29 20:21] PeterDSteinberg commented on #265
Good info.  Thanks.  I'll look into this further.

[2015-12-29 20:44] flamingbear commented on #265
@PeterDSteinberg So here's some more information.
It looks like it might have something to do with particular versions of packages.  We also have a package sedna, which was unchanged for 8 days, and I kicked off our CI which tried to replace the existing package, it failed trying to remove the existing package:

[code]

But if I ignore the existing package and create a new version of the package:

[2015-12-30 14:26] goanpeca opened #266 "Give user the new notebook url after notebook upload"
With the idea of phasing out subdomains (conda, notebooks... etc), and now with the notebooks being rendered on the main site:

**https://anaconda.org/bryanv/notebook-comms/notebook**

instead of

**https://notebooks.anaconda.org/bryanv/notebook-comms**

The command client after doing a `notebook upload` should display the former and not the later.

[2015-12-30 15:15] stephenakearns opened #267 "A-Client: update in-line help to reference new notebooks page"
currently when you upload a notebook, it points you to the subdomain page (https://notebooks.anaconda.org/...). It should now point you to https://anaconda.org/(user)/notebooks/

[2015-12-30 15:19] #266 closed

[2015-12-31 17:29] stephenakearns commented on #264
@flamingbear thanks for reporting - this was reproduced by another team member. Looking into it after the holidays.

[2016-01-04 13:11] wojdyr commented on #264
I have the same problem. As a temporary workaround I've downgraded anaconda-client:

    anaconda-client: 1.2.1-py27_0 --> 1.1.2-py27_0

[2016-01-04 16:20] stephenakearns commented on #264
thanks @wojdyr - acknowledging your confirmation on this issue and thx for suggesting the workaround.

[2016-01-04 22:43] rafaelhbarros commented on #264
I ran the command a few hundred times (thanks to a script) and got no errors. Further instructions?

[2016-01-04 23:52] rafaelhbarros commented on #264
@flamingbear can you still reproduce the issue?

[2016-01-04 23:55] flamingbear commented on #264
Let me check

[2016-01-05 00:09] flamingbear commented on #264
Yes. I have a feeling it's closely related to:  https://github.com/Anaconda-Server/anaconda-client/issues/265

It may have something to do with existing packages.  For this project I have
1.0.0dev which fails as expected, and I bumped the version to 1.0.1dev which
does not fail.

[code]

[code]

[code]

BUT  Works with "newly" created package

[code]

[code]

[code]

[2016-01-05 14:02] stephenakearns commented on #112
@mistakevin I think this one may be in progress with a PR? Can you link the PR for this one (or move back to icebox if not addressed?)

[2016-01-05 14:51] mistakevin commented on #112
What was the decision on this? Do we increase the number of default results or add an optional size parameter?

[2016-01-05 20:38] rafaelhbarros commented on #264
I cannot reproduce this issue with old packages or new packages. I'll add some logs and after a new release (should happen by the end of the week) we can try this again.

Really bothering me that I can't pin-point the error.

[2016-01-05 23:03] flamingbear commented on #264
Cool, I will try my hardest not to delete the package that is currently broken.  Let me know when you want me to test again.

[2016-01-05 23:27] wojdyr commented on #264
What I wrote yesterday about downgrading is actually not true. I've seen the same problem later on with both client versions. But it wasn't happening every time, so as a workaround I just re-try upload if it fails in a script:
[code]
and with this uploads happen to work for me.

@rafaelhbarros: thanks for looking into it. If you have access to the server logs maybe you can check for status 500 the

[2016-01-05 23:33] rafaelhbarros commented on #264
@wojdyr @flamingbear that's exactly why I'll add some more detailed logs onto the server in order to get a better insight when the issue happens.

[2016-01-06 02:49] stephenakearns commented on #112
The decision was to increase the hard-coded cap temporarily to 100 and log a ticket (already done here: #1347 ) to track the work to put in auto-throttling.

[2016-01-12 17:06] #224 closed

[2016-01-12 19:31] rafaelhbarros commented on #264
@wojdyr @flamingbear alright, I rolled out a new version of anaconda.org yesterday. Some new logging is in place so if this happens, I'll get all the information I can. Can you please reproduce this issue one more time? I have hopes to catch it now.

[2016-01-12 20:02] flamingbear commented on #264
You should have something now:

[code]

[2016-01-12 20:03] rafaelhbarros commented on #264
@flamingbear got it, thanks. Two good news: this is a backend fix, so nothing needs to change on your environment, and I know how to fix it.

[2016-01-12 20:55] #231 closed

[2016-01-13 00:06] dsludwig commented on #112
@anderspitman if you visit the URL, you will see 100 results now. We are looking into pagination of the API as well. Thanks for the report!

[2016-01-13 00:06] #112 closed

[2016-01-13 20:34] electronwill commented on #132
https://github.com/Anaconda-Server/anaconda-client/blob/develop/binstar_client/utils/detect.py#L84 suggests that the list of valid types might be 'conda' 'pypi' 'r' 'ipynb', and https://github.com/Anaconda-Server/anaconda-client/blob/develop/binstar_client/inspect_package/conda_installer.py suggests that 'installer' and 'file' might also be valid types. Once a developer can give a firm answer here

[2016-01-13 21:29] electronwill commented on #151
@srossross I fixed this on the develop and master branches, but it appears that deploying the new version to binstar-client.readthedocs.org requires using the readthedocs.org account that first set up that site. Do you have that?

[2016-01-15 22:00] srossross commented on #264
@rafaelhbarros should this be 'in-progress'?

[2016-01-15 22:00] srossross commented on #265
@rafaelhbarros should this be 'in-progress'?

[2016-01-21 23:33] goanpeca opened #274 "Include skip and arch keywords to filter requests for packages"
Some of these issues have appeared when developing the new Anaconda UI (new launcher on steroids)

The API could be adapted to include additional keywords and make requests agile.
- skip and limit should be included to package listings requests
- Platform filtering...
- Package type filtering

[2016-01-22 17:47] rafaelhbarros commented on #264
@flamingbear a release was done today, can you please verify the issue no longer happens?

[2016-01-22 19:12] flamingbear commented on #264
Looks good to me.  Thanks!

[2016-01-22 19:13] rafaelhbarros commented on #264
Closing this issue as fixed. If it happens again, let me know.

[2016-01-22 19:13] #264 closed

[2016-01-22 19:57] dsludwig commented on #204
@flamingbear thank you for the report! Your original command was correct:

[code]

This has been fixed in the latest release of anaconda-client (version 1.2.2). If you still have this problem, let me know.

[2016-01-22 19:57] #204 closed

[2016-01-22 22:12] dsludwig commented on #265
@flamingbear do you still have this problem? I suspect this is fixed by the change for #264

[2016-01-22 23:20] flamingbear commented on #265
I'm sorry I have actually killed off all of the packages that were exhibiting this behavior.  I am not experiencing this with any of my current package versions.  I also suspect #264 fixed this, so please close this and I'll open a new ticket if I see this again.  Thanks.  Matt

[2016-01-22 23:22] #265 closed

[2016-01-25 16:04] srossross opened #275 "TypeError: Unexpected keyword argument 'parser_args'"
[code]

cc @malev

[2016-01-25 16:35] dsludwig commented on #275
Fixed in #268

[2016-01-25 16:40] srossross commented on #275
Thanks, I was using an older version.

[2016-01-25 17:54] #275 closed

[2016-02-01 18:13] rafaelhbarros opened #277 "Encoding error on notebook upload"
When uploading a notebook with diacritic, this happens:

![2016-02-01](https://cloud.githubusercontent.com/assets/3138550/12726424/1fa83e4e-c8dd-11e5-9472-5d326327ec31.png)

[2016-02-02 08:06] pelson commented on #75
I notice that one of the scopes available for new tokens is "collections":

[code]

Based on this issue, I presume this functionality is no longer a concept which is available for use? I'm looking for the ability to generate a token which can modify only a subset of an organisation's channel. It appears that this may be possible on a per user basis (within the team), but not on a per-token basis.

[2016-02-02 16:19] chdoig commented on #236
+100, @ijstokes!

It really really annoys me, that I have to install anaconda-client in each of my environments. I see the ```error -bash: anaconda: command not found``` every time I try to upload anything. Also, because the commands are not consistent and the upload environment functionality is in conda env, but conda-env doesn't have anaconda-client as a dependency, the command always fails the

[2016-02-02 16:38] goanpeca commented on #236
I would add to what @ijstokes proposes that conda-tools in this case should also (eventually) contain the latest version of **Anaconda Client UI** (ex launcher)?

And also, although it is not meant to be launched from the command line, **Anaconda Client UI** (ex launcher) should be root installable only and accessible from any env.

[2016-02-03 03:09] goanpeca opened #279 "Error if trying to log using a reserved user."
Using the anaconda client to login with some reserved usernames like

`r`, `conda`, returns a **`internal server error`**.

Maybe we should have a more specific and friendlier type of error. Like, username reserved or whatever.. or even invalid user?

I am using anaconda client to log in from within Anaconda UI Client and showing that error is kinda ugly.

![image](https://cloud.githubusercontent.

[2016-02-04 18:50] sivasuryas commented on #58
I had the same error. Since, `binstar` is changed into `anaconda-client`, removing and re-installing `anaconda-client`, fixed the error for me.

[2016-02-05 04:28] rolando opened #280 "A-Client: Copy command does not work with --to-label and --from-label"
Hi, I'm using `anaconda-client` `1.2.2` and tried to run the following command without success:

[code]

It turns out anaconda is sending the payload to the API as `to_channel: main, from_channel: main`. So I used the deprecated arguments `--from-channel` and `--to-channel` and it worked as expected.

[2016-02-09 06:22] naught101 opened #281 "Improving Search: Show/filter by python version that package is built against."
If I do something like `anaconda search <package>` then I get a nice table of all of the available packages on anaconda.org that are available for download. The table shows the repo name, the package version, package type, and platform, as well as comments. However, it's not possible to tell from this table whether the package will be installable, even if it's on the right platform, because it's l

[2016-02-09 23:57] bkreider opened #282 "anaconda login: needs --yes or --force option"
Luckily Unix has a way around this, but requiring user input could be a gotcha for automators.
[code]

The Unix way of course is the "yes" command:
[code]

[2016-02-10 07:14] ijstokes commented on #282
I was about to report this myself. Yes, all CLI commands need options both for "quiet" output and "no input prompt".

[2016-02-12 00:04] bkreider opened #285 "Integration with AE-repo? (AS)"
For integration with the Enterprise Repo, can we remove everywhere it is hard-coded to use anaconda.org and have it check the .condarc (including the system one) for the default server to use?

Also, we need an easy way for users to that grab miniconda/anaconda from their local  Repo server to have the defaults already setup.

This should be pre-configured so 50 users don't all have to change thei

[2016-02-12 19:07] ijstokes opened #286 "--hostname appears to be ignored"
I am trying to login to an account on Anaconda Cloud (my account) and need to use the `--hostname` option since the system's default is an Anaconda Repository instance running on the local system.  But the `--hostname` option doesn't appear to work:

[code]

When I do exactly the same thing with a fictional user that exists on the local Anaconda Repository I am able to login:

[code]

I was just g

[2016-02-12 19:14] ijstokes commented on #286
My misunderstanding.  I should have been doing:

[code]

[2016-02-12 19:14] #286 closed

[2016-02-16 19:08] stephenakearns opened #288 "A-Client - upload to anaconda-package with private flag support"
If you want to upload a private package...

Current: (annoyingly 2 steps)
- create empty anaconda-package with `anaconda create`
- `anaconda upload` with the --private switch

The client supports creating a new package in one step with `anaconda upload` by creating the package if it doesn't already exist, but it's not smart enough to do this if the private flag is on. This needs to be changed so t

[2016-02-21 12:08] marscher commented on #280
It would also be nice to move packages within a channel from one label to another. If that is already possible, please tell me how to do that.

[2016-02-21 17:33] ijstokes commented on #282
In fact the problem can go deeper, as I've just discovered.  If the password is wrong then the entire script will get stuck as the CLI will then block on user input for the correct password.

[2016-02-22 14:39] malev opened #289 "Client should recognize AS API version"
If one of our clients is using an older version of AS, `anaconda upload` might fail, for instance when uploading projects. We should be able to warn this to the user instead of showing an ugly error.

[2016-02-22 17:46] rafaelhbarros opened #290 "Usability of Anaconda groups on CLI"
It's virtually impossible for someone who doesn't have access to code to use `anaconda groups` command. There is zero docs and it's like pulling teeth with a rusted pair of pliers.

[2016-02-22 17:46] rafaelhbarros commented on #290
example:

[code]

help='asdf' is a bit out there.

[2016-02-22 18:02] rafaelhbarros commented on #290
It only matches lower case, and this is roughly the spec: org/:group/:member

[2016-02-22 21:46] dsludwig opened #291 "anaconda upload should support environments"
* Should inspect `*.yml` files to see if they look like environments
* Accept `--package-type env` or `--package-type environment` as flag

[2016-02-26 17:42] stephenakearns commented on #285
Hi @bkreider - wanting to understand the issue better here...

when setting up enterprise customer client machines, we're expecting the following to occur:
`anaconda config set url=subdomain.client.com`

after this command is run, any `conda install <package_name>` will default to the new URL.

[2016-02-26 17:51] bkreider commented on #285
That's only true for one user.  If i set an option in $PREFIX/.condarc it is set for all users, but the options set in anaconda client are only set for one user.

It would be highly desired that the anaconda-client settings are stored in ~/.condarc and $PREFIX/.condarc.

1.  This would reduce confusion for users.
2.  The config files would be more apparent rather than having to edit some weird hid

[2016-03-01 20:22] stephenakearns opened #294 "A-Client: give users ability to upload environments to an organization"
Current state: you can upload an environment to your user account on Anaconda Cloud, but NOT to an organization, using conda env command

Future state:
anaconda client supports uploading environments to both user and org

Discuss:
* [ ] @kalefranz - do you want to deprecate conda-env upload?

cc: @mrduane @JeremyEnns @srossross @kalefranz @malev @csoja

[2016-03-01 20:24] stephenakearns opened #295 "A-Client: consolidate notebook upload command into main upload command"
current state: syntax for anaconda notebook upload is different than regular upload

future state: make a-client upload command support notebooks using same syntax as   packages and environments - see #294

Success criteria:
* [x] anaconda upload <notebook> <thumbnail> works smoothly with all the options supported in the current anaconda notebook upload...
* [x] anaconda notebook upload - deprecat

[2016-03-01 20:27] stephenakearns commented on #295
@mrduane @bkreider @malev @srossross @JeremyEnns @kalefranz - heads-up

[2016-03-02 20:55] bkreider opened #296 "Catch 401 error when having a ~/.netrc file defined"
From this issue: https://github.com/Anaconda-Server/support/issues/23#issuecomment-191416492

Instead of the current error message, it should check for ~/.netrc and give a different error message to help people catch this.

@dsludwig

[2016-03-02 22:05] dsludwig commented on #296
[code]

will disable `.netrc` authentication (as well as environment variables NO_PROXY, HTTP_PROXY, and system proxy configuration).

According to this issue, there is no way to disable *only* `.netrc` configuration: https://github.com/kennethreitz/requests/issues/2773

[2016-03-02 22:09] dsludwig commented on #296
There's a documented work-around in the issue, I will go forward with that.

[2016-03-03 02:11] bkreider commented on #296
Wow!  That was quick!

[2016-03-03 17:15] malev opened #299 "Move .projectignore into AP"
https://github.com/Anaconda-Server/anaconda-client/pull/292#discussion_r54758914

cc @havocp

[2016-03-03 22:55] malev commented on #294
Look at #291

[2016-03-03 22:57] malev opened #302 "Update thumbnail when uploading a notebook again"
`anaconda upload notebook.ipynb --thumbnail=image.png` should set the new thumbnail disregard if the notebook already exists o not.

[2016-03-07 19:37] stephenakearns commented on #289
Hi @malev - is this part of the PRs you are doing for upload or is it realted to the project execution project? (we should tag a milestone potentially)

[2016-03-07 19:38] stephenakearns commented on #290
cc: @malev

[2016-03-07 19:51] stephenakearns commented on #299
Hi @malev - this looks In Progress - is that right?

[2016-03-07 19:53] stephenakearns commented on #302
Hi @malev - is this one closed by the merged PR mentioned? Closing it, but reopen if that's not the case.

[2016-03-07 19:53] #302 closed

[2016-03-07 19:56] stephenakearns commented on #280
Hi @srossross - can you take a look at this one? I believe that @malev is working on a relase of A-Client very soon that could squeeze a fix in for this if needed

[2016-03-07 22:26] stephenakearns commented on #294
closing as duplicate

[2016-03-07 22:26] #294 closed

[2016-03-07 22:26] stephenakearns commented on #291
related PR #301

[2016-03-07 22:27] #291 closed

[2016-03-07 22:28] #295 closed

[2016-03-08 17:52] #280 closed

[2016-03-08 23:45] dsludwig commented on #296
Resolved in #298.

[2016-03-08 23:46] #296 closed

[2016-03-11 18:45] srossross commented on #279
@goanpeca I can not reproduce on the command line.  Can you trigger this error again?

[2016-03-11 18:47] srossross commented on #277
@rafaelhbarros can you attach an offending notebook?

[2016-03-11 18:50] rafaelhbarros commented on #277
[code]
Notebook attached in zip cause github doens't support ipynb:

[não.ipynb.zip](https://github.com/Anaconda-Server/anaconda-client/files/169762/nao.ipynb.zip)

[2016-03-11 18:55] srossross commented on #277
thanks

[2016-03-11 20:18] goanpeca commented on #279
I think it has been fixed but the message had a typo

[2016-03-11 21:10] #279 closed

[2016-03-18 14:30] stephenakearns commented on #281
Hi @naught101 these are all good suggestions. thanks for taking the time to mention them. We'll include them in our planning going forward.

[2016-03-23 14:50] bollwyvl opened #309 "Verify notebooks on anaconda upload/download?"
## What's going on?

`anaconda notebook upload` (and now `anaconda upload`) lets you upload broken ipynb files: not utf-8, malformed JSON, not-nbformat-compliant, etc.

Assuming `broken.ipynb`:

[code]

[code]

Go to http://as.dev:4990/vagrant/broken, :boom: :five: :zero: :zero:
## Why do I care?

This worked out to my advantage, as I needed to inject some bad data, but is probably not a good defa

[2016-03-23 16:10] bollwyvl commented on #309
Of additional interest, it may be worth performing verification on the client after a download:
[code]
Mostly the same as above. Basically, if one of the verify checks is not met, the file doesn't appear (i guess gets put in a tmp dir?)

Also updating title.

[2016-03-23 16:20] bollwyvl opened #310 "Package hash/sign upload metadata?"
As part of verifying notebooks (and maybe other packages), it would be good to be able to provide some strong identity to the actual binary content that a user creates, before it goes over lots of pipes, filesystems, databases, etc. Additionally, being able to include a strong crypto signature of a package would be good for piece of mind, and in certain regulatory situations.
### Approach

This wo

[2016-03-28 18:46] stephenakearns commented on #310
@malev - can I get your thoughts on this one as someone who's worked a lot on upload functionality.

@kalefranz - what is your thinking on support for signed conda packages?

Holding off on triaging until we've got a bit more discussion on this one.

[2016-03-28 18:55] kalefranz commented on #310
I'm +10^6 on conda support for package signing. There's some beginning implementation already in the conda code base, but I think it started out wrong. It's using `pycrypto` right now. Should implement correctly from the beginning before people start using it with `TUF` and `cryptography`. Definitely in the conda backlog of things to do.

If someone wants to take on the project, would be happy to

[2016-03-30 20:53] srossross commented on #277
@bollwyvl this will also be fixed with #1583 right?

[2016-03-30 20:55] srossross commented on #277
This will be fixed with #306

[2016-03-30 20:55] #277 closed

[2016-04-11 14:55] srossross commented on #288
@stephenakearns there was a bigger discussion about this last year. We have already moved away from a single step upload of private packages. We did this for a few reasons. 1) You only need to perform the refister step once, not before every upload 2) This is a standard way of doing things, pypi, npm etc require this step 3) Users were confused about uploading private packages since the registrati

[2016-04-13 17:43] srossross commented on #288
I'm closing this.  Please re-open if you want to discuss.

[2016-04-13 17:43] #288 closed

[2016-04-20 02:46] dsludwig commented on #290
Fixed, due to be released in 1.4.1

[2016-04-20 02:46] #290 closed

[2016-05-09 09:52] pitrou opened #320 "In `anaconda upload`, allow passing token and user as environment variables"
This may make integration easier for third-party utilities such as `conda-build`, see https://github.com/conda/conda-build/issues/755

[2016-05-10 22:32] amfarrell commented on #234
Those who still see this issue after running `conda update anaconda-client` on python3.5 can fix it by running `conda update clyent`

[2016-05-24 03:08] stephenakearns commented on #299
no activity in a while - moving this to backlog of epics

[2016-05-24 03:54] havocp commented on #299
This is closed by https://github.com/Anaconda-Platform/anaconda-project/pull/306

[2016-05-24 04:05] stephenakearns opened #323 "DUPE: Anaconda upload noarch"
@kalefranz commented on [Fri May 06 2016](https://github.com/Anaconda-Platform/anaconda-server/issues/2144)

This issue is probably a dupe, but I wanted to file it so I can come back and track it down.  If it's a dupe, please link to relevant history and close.

The issue is that, with anaconda-build, the "upload to repo" portion--which uses anaconda-repo command line client--doesn't work for noar

[2016-05-24 16:02] havocp opened #324 "Port project upload to anaconda-project API"
See https://github.com/Anaconda-Platform/anaconda-project/pull/309 and https://github.com/Anaconda-Platform/anaconda-project/pull/306 for background.

Here is my strawman suggestion for what we should do:

 * remove utils/projects/models.py, filters.py, inspectors.py and optionally uploader.py
 * add an OPTIONAL dependency on anaconda-project, resolved at runtime. The problem is that anaconda-proj

[2016-05-24 16:24] dsludwig commented on #323
There are issues for this in https://github.com/Anaconda-Platform/anaconda-build/issues/261 and https://github.com/conda/conda-build/issues/873.

Our proposed solution was to allow configuring where `conda-build` stores its output, so that we could know exactly where to upload from.

[2016-05-30 16:54] stephenakearns commented on #324
Hi @havocp and @malev - I think this is already done - the attached PR is merged. I'm closing it, but if that's not correct, please reopen and outline next steps?

[2016-05-30 17:28] stephenakearns commented on #320
These are good suggestions. Check to see if token is already possible (update docs if needed)

[2016-05-30 17:32] stephenakearns commented on #323
closing this as duplicate - see the above 2 issues.

[2016-05-30 17:32] #323 closed

[2016-05-30 18:02] havocp commented on #324
The anaconda-project part is done but not the anaconda-client part.

[2016-05-31 01:50] havocp commented on #324
(The user-visible importance of this one is that "anaconda upload" won't upload projects correctly without this work.)

[2016-06-02 15:37] havocp commented on #324
We need to decide what to do with the `--summary` and `--description` options for projects. Description is redundant with the description field in `project.yml` and I don't know how summary differs from description.

[2016-06-03 21:44] ilanschnell opened #326 "Color changing after an error"
@SHAPESNATCH opened this issue https://github.com/ContinuumIO/anaconda-issues/issues/808

[2016-06-09 13:41] #324 closed

[2016-06-09 16:12] stephenakearns opened #329 "A-Cloud - Upload thumbnail image with packages"
Request from Conda-Forge and also our Mosaic team - use case: they need to get an image uploaded with a package so that it can appear in Navigator as an icon (when the package is an application)

Should use the same syntax as notebook upload. If already specified in the meta.yml file, then just include that.

[2016-06-09 16:12] stephenakearns commented on #329
@goanpeca and @dsludwig - please add additional requirements/details in the description or comments.

[2016-06-09 17:50] goanpeca commented on #329
I will add a bit more context.

# Anaconda Cloud
Currently Navigator has no straightforward way of having access to the icon/image for a given package that has been declared as an application (meta.yaml, app section). Although the meta yaml defines the location of the icon and included this is include in the zipped package file, when uploading to Anaconda Cloud, the image is not stored separately

[2016-06-10 21:02] stefanseefeld opened #330 "`conda install` generates spurious warning"
Running
`conda install mkl`

I get this warning

[code]

which seems wrong, as the express reason for using an authentication token is to avoid having to log in. (This is particularly annoying when running in non-interactive environments such as on CI platforms.)

[2016-06-10 21:29] davidlmobley opened #331 "Troubleshooting argument number issue with "anaconda -h""
I'm in python2.7 and in my normal conda environment, I'm getting this issue after just installing `anaconda-client` and `anaconda-build` for the first time via conda:

[code]

Creating a new conda python 2.7 test environment and freshly installing there resolves the issue, so it's something in my package list, but I don't know how to troubleshoot. Any tips? My `conda list` is below:

[code]

[2016-06-10 21:51] dsludwig commented on #331
It looks like you have quite an old version of one of the dependent libraries:

[code]

The latest release is https://github.com/Anaconda-Platform/clyent/releases/tag/1.2.2. You should be able to upgrade using `conda update clyent`.

I will also make sure that the requirements of the next version of anaconda-client specify a newer version.

Thanks for the report, @davidlmobley!

[2016-06-15 06:04] stephenakearns commented on #155
superceded by #2319

[2016-06-15 06:04] #155 closed

[2016-06-29 16:57] quasiben opened #334 "Disallow uploading of empty project.yml"
If project.yml contains no data `anaconda-client` will still attempt an upload.  We should prevent this behavior by at least checking project.yml has the `name` key defined -- perhaps other keys as well.

cc @havocp

[2016-06-29 17:01] havocp commented on #334
A missing project.yml is supposed to be allowed at the moment, because everything has a default value (the default name is the directory name). With https://github.com/Anaconda-Platform/anaconda-project/issues/276 an empty project.yml will no longer be valid and in this scenario we'll instead ask the user if they want to create one. All of this should be transparent to anaconda-client though, it'l

[2016-06-30 16:45] kalefranz commented on #330
@stefanseefeld Is there a CI link or something you can reference here to show me more output?  Basically more information of the environment setup.

[2016-07-02 19:10] jakirkham opened #335 "Error handling issue"
Had an interesting error crop up recently. See the traceback below and this related issue ( https://github.com/conda-forge/gmpy2-feedstock/issues/1 ) for more details.

[code]

[2016-07-08 14:46] ltransom opened #336 "anaconda download generates an error for notebook files"
The following error is produced when downloading a non Notebook file using `anaconda download`:

`[ERROR]
Traceback (most recent call last):
  File "/Users/lransom/anaconda/bin/anaconda", line 6, in <module>
    sys.exit(binstar_client.scripts.cli.main())
  File "/Users/lransom/anaconda/lib/python2.7/site-packages/binstar_client/scripts/cli.py", line 87, in main
    description=__doc__, version=ve

[2016-07-08 19:25] stephenakearns commented on #334
Hi Team - closing this item in favor of working on #276 - if needed, please reopen and clarify what's next for this specific issue, distinct from the one mentioned above.

[2016-07-08 19:25] #334 closed

[2016-07-11 19:59] Hornswoggles opened #337 "Better Documentation for auth scopes"
Many of the scopes listed by running

are undocumented. Our organization would like to leverage the authentication token infrastructure provided by anaconda cloud but are having difficulty figuring out which scopes to use. Is there more documentation about each of the scopes and what they provide access to do?

[2016-07-12 15:46] pitrou opened #338 "TypeError: catching classes that do not inherit from BaseException is not allowed"
[code]

[2016-07-13 04:12] goanpeca opened #339 "Anaconda client should read proxy settings from .condarc"
Right now, conda has two methods for defining the proxy settings, one is using environment variables (as desribed by `requests`) and the other is by using the `proxy` config inside `condarc`.

Anaconda client on the other side only uses the environment variables. This leaves the impression that the proxy settings inside the `condarc` config file are not read when using anaconda-client or Navigator

[2016-07-14 18:54] MulticastMatt commented on #330
Hi @kalefranz - could you please create this in the Conda repo as this is a conda issue.  I'm going to close this in the Anaconda Client repo.  Thanks @stefanseefeld for reporting.

[2016-07-14 18:54] #330 closed

[2016-07-14 18:56] MulticastMatt commented on #338
Thanks @pitrou - this is a duplicate of an issue that was previously reported #335...we'll follow up there.

[2016-07-14 18:56] #338 closed

[2016-07-16 19:59] jakirkham opened #340 "License clarification"
Having a little trouble determining the license ATM. Is this BSD 3-Clause per usual or is it something else?

[2016-07-19 15:39] stephenakearns opened #341 "test issue"

[2016-07-19 15:39] #341 closed

[2016-07-22 16:16] jakirkham commented on #340
Could someone please clarify the license? I'm hoping this is an easy question. 😄

[2016-07-22 18:09] srossross commented on #340
Yes, this should be a BSD 3-Clause license. We will update this in the next release.

[2016-07-22 18:40] jakirkham commented on #340
Thanks for clarifying, @srossross.

[2016-07-25 17:42] srossross commented on #339
@goanpeca I can't remember, but I think we are going to address this with our unified config library.

cc @kalefranz

[2016-07-25 18:15] srossross commented on #337
Thanks @Hornswoggles. We will be looking into this soon.

[2016-07-25 19:12] goanpeca commented on #339
Dont remember, but if that is the case its :+1: @srossross,

I have heard this from users... `defining proxy settings in condarc did not work`. While the config thing appears, the solution would be quite easy to implement and not leave users frustrated?

[2016-07-26 16:26] rwarren opened #343 "miniconda requires anaconda-client to avoid "somethings is wrong" error"
Not sure this is the correct location to file this bug, but I can't find the pure conda repo.

I have a recent miniconda install and am running the latest conda (4.1.9).  Any conda commands were always displaying a cryptic message prior to the expected output.  For example:

[code]

Digging into it I see that binstar was the old name for the anaconda cloud.  Installing the anaconda-client fixes th

[2016-07-28 17:49] havocp opened #345 "Port to conda-kapsel rather than anaconda_project"

[2016-07-29 15:46] #345 closed

[2016-07-29 19:20] goanpeca opened #350 "Add ci integration with travis, appveyor and circle-ci"

[2016-07-29 19:20] #350 closed

[2016-08-02 09:24] frol opened #351 "How to move a package file to another label?"
I would like to manually "release" some packages, so my CI always uploads new packages to `label/staging`, and once the staging version is manually checked, I would like to run a script to release those packages (about a dozen of them with all supported platforms, so going to the web-interface is not a nice option) by moving them to `main`.

I have found only these two options reading both `--help

[2016-08-02 18:46] MulticastMatt commented on #329
@goanpeca what's the latest here?

[2016-08-10 15:31] goanpeca opened #353 "License and description should be stored at the release level, not the package level."
See

https://github.com/Anaconda-Platform/anaconda-client/blob/develop/binstar_client/inspect_package/conda.py#L103

[2016-08-15 15:03] #329 closed

[2016-08-25 18:19] stuarteberg opened #355 "Copying from one organization to another doesn't work"
I tried to a package from one organization to another using anaconda-client, like this:

[code]

It *seemed* to work.  The new file is added to the file listing on anaconda.org:
https://anaconda.org/FlyEM/vigra/files

But if you actually try to download the new package, you get a 404 error:
https://anaconda.org/FlyEM/vigra/1.11.0.post36/download/osx-64/vigra-1.11.0.post36-np111py27_1_g6fcc71f.tar.

[2016-08-31 19:39] ivoflipse commented on #355
Strange, it doesn't seem to apply to all packages I've copied over. It's almost as if they will eventually become available.

[2016-09-01 16:09] bkreider opened #356 "help text mentions Anaconda Cloud"
Help text mentions Anaconda Cloud even when it is used in the enterprise and connected to a local Anaconda Enterprise Repository.

[code]

[2016-09-05 14:58] bkreider opened #357 "Handle ctrl-c"
Handle ctrl-c when exiting when a airgap customer is trying to login to anaconda.org.  It should also capture if it times out here because of the firewall.

[2016-09-08 17:03] #340 closed

[2016-09-19 19:04] cswarth opened #362 "404 error from `anaconda search`"
Why does `anaconda search` return 404 error for some packages?
Searching for `flask`, a package I would expect to be there, returns 404.  However searching for a non-existant package correctly says `Found 0 packages`.

Also what is a better forum for questions like this?  Doesn't seem to be a gitter or slack channel for anaconda.

[code]

[code]

[code]

[2016-09-22 02:19] koverholt opened #363 "conda upload fails with conda-build 2.x output"
Something changed in the output from `conda-build` 2.x such that `anaconda-client` is not working right.

If I have two conda packages (built for Linux, used `conda convert` to make OS X package) in `conda-bld/`:

[code]

Works with `conda-build` 1.21.14 and `anaconda-client` 1.5.1:

[code]

Fails with `conda-build` 2.0.0 and `anaconda-client` 1.5.1:

[code]

For some reason, in the latter case, b

[2016-09-22 20:24] rolando opened #364 "Anaconda upload broken in interactive mode when package exists and is not overwritten"
Sorry for the lack of traceback but this happened in our build system.

I tracked down the issue to the `upload_package` function: https://github.com/Anaconda-Platform/anaconda-client/blob/develop/binstar_client/commands/upload.py#L163

which may return `[]`: https://github.com/Anaconda-Platform/anaconda-client/blob/develop/binstar_client/commands/upload.py#L193

and that value is appended to a li

[2016-09-22 21:41] dsludwig commented on #363
I'm not able to reproduce this issue using conda-build 2.0.1.

[2016-09-22 21:57] koverholt commented on #363
You're right, thank you for testing. We were using `conda-build` 2.0.0 because of other issues in `conda-build` 2.0.1, but I just tested with 2.0.1 and `anaconda-client` 1.5.1 and this particular issue is solved. I'll reopen if we hit this again.

Thanks!

[2016-09-22 21:57] #363 closed

[2016-10-10 12:20] emirot commented on #91
Is there a way to know the expiration date of a token via the UI or CLI ? I'm having an issue on ```bash
Warning: you may need to login to anaconda.org again with 'anaconda login' to access private packages(https://conda.anaconda)... , 401 Client Error: UNAUTHORIZED for url: https://conda.anaconda.org/t``` on conda 4.2.9
Login using anaconda client doesn't help, the only workaround I found is to r

[2016-10-17 05:23] kadrlica commented on #355
I've seen the same issue, but similar to @ivoflipse it does not affect all packages. From a very small number of test cases, it seems possible that the process is failing when I try to copy a new file (i.e., update version) into a package that I already own. However, when copying files from a brand new package (one that I don't have setup beforehand) things seem to be ok.

[2016-10-18 19:22] koverholt opened #370 "TypeError when uploading package"
I'm getting the following error when uploading a package.

The initial upload works:

[code]

But the next upload fails (only difference is that it's built with Python 3.4 vs. Python 2.7).

[code]

[2016-10-21 01:05] #364 closed

[2016-10-26 02:28] koverholt commented on #370
This seems to be working now in the latest version.

[2016-10-26 02:28] #370 closed

[2016-10-26 03:48] dsludwig commented on #364
Thanks for the report, @rolando!

This is fixed in the latest release of anaconda-client (1.5.2). You can update to the latest version by:

[code]

[2016-10-26 13:40] rolando commented on #364
👍

[2016-11-15 16:57] goanpeca opened #374 "Add license api endpoint handling"
Include work after https://github.com/Anaconda-Platform/anaconda-server/pull/3087

[2016-11-16 03:16] denfromufa opened #375 "A message has been sent to our webmaster and we will work on fixing this bug."
I cannot login to my account (pythonnet) on anaconda.org, I even tried resetting my password:

![image](https://cloud.githubusercontent.com/assets/7870949/20333479/75f5f0f6-ab78-11e6-9588-0eaa751094d4.png)

[2016-11-23 22:24] jjdelany opened #377 "anaconda upload doesn't work for windows zipfiles on python3"
Attempting to upload a windows pypi zipfile on python3 gives the following error:

[20:31:07][Step 8/10] 1>    File "D:\tk2017feb\Tk2017feb_Python\refs\heads\cmake_cleanup\pytk\toolkit_upload\lib\site-packages\binstar_client\inspect_package\pypi.py", line 324, in inspect_pypi_package_zip
[20:31:07][Step 8/10] 1>      attrs = dict(Parser().parsestr(data.encode("UTF-8", "replace")).items())
[20:31:0

[2016-11-23 22:49] jjdelany commented on #377
The SHA where this was previously partially fixed is:

7266d1e687bd4b0b39b00f4fe8324c161600e707

[2016-12-07 03:11] thompsda88 opened #378 "Problem installing music21"
I attempted to download music21 3.0.3alpha on Mac OS X El Capitan 10.11.5. I used the following command:

conda install -c maxalbert music21=3.0.3alpha

This is what resulted:

PackageNotFoundError: Package not found: '' Package missing in current osx-64 channels:
  - music21 3.0.3alpha*

Any help would be appreciated. Thanks.
DT

[2016-12-07 11:52] goanpeca commented on #378
Hi @thompsda88, as the error points out:

**Package missing in current osx-64 channels:**

If you go to https://anaconda.org/maxalbert/music21/files?version=3.0.3alpha

You will see that for that version only Linux packages are available (not osx, not windows). In fact for any version of that package I only see Linux packages.

<img width="1115" alt="screen shot 2016-12-07 at 6 52 02 am" src="http

[2016-12-07 11:52] #378 closed

[2016-12-15 21:23] jjhelmus opened #379 "Do not exact package attributes from recipe.json file."
`anaconda-client` [uses the contents of the `recipe.json` file](https://github.com/Anaconda-Platform/anaconda-client/blob/develop/binstar_client/inspect_package/conda.py#L89-L93) to extract the package attributes (summary, license and homepage) when the package is uploaded to Anaconda.org.

This file is no longer included by package created by `conda-build`, (conda/conda-build#781).

When uploaded

[2016-12-16 20:48] msarahan commented on #379
The information in this file has been split into a rendered version of the input recipe, and a json file, ``about.json`` that contains this metadata.  It should be sufficient to look for about.json, and fall back to the older recipe.json if it is not found.

Example about.json contents:

[code]

[2016-12-29 01:43] FelipeCalliari opened #380 "pprint issue"
When I do:

[code]

I get this:

[code]

This issue was already reported by @jimsrc in (https://github.com/ContinuumIO/anaconda-issues/issues/1308) but he may have used an older version of anaconda-client since he used:

[code]

**Even if it is not the best solution..**

The problem can be easily solved by editting this file:

[code]

**Original**
line34: ```package['conda_platforms'] = ', '.join(

[2017-01-06 18:44] bioruffo commented on #380
Line 39 of pprint.py also uses `.join` on `package['package_types']`. I wonder if this could also break in some cases?

    if package.get('package_types'):
        package['package_types'] = ', '.join(noNones(package['package_types']))

So just to avoid risks, on my machine I did this:

    def noNones(mylist):
        return [str(x) for x in mylist if x is not None]

and:

    33 if 'conda_platf

[2017-01-15 09:04] bioruffo opened #382 "Another NoneType error (sorry, should have posted under conda)"
(cross-referencing) Related to:
https://github.com/Anaconda-Platform/anaconda-client/issues/380

This time, the script that returns an error is `history.py`:

    Fetching package metadata ...........
    An unexpected error has occurred.
    Please consider posting the following information to the
    conda GitHub issue tracker at:

        https://github.com/conda/conda/issues

    Current conda

[2017-01-15 09:09] #382 closed

[2017-01-16 22:08] denfromufa commented on #375
I'm able to access my account now, closing the issue.

[2017-01-16 22:08] #375 closed

[2017-01-19 16:02] rgrinberg opened #383 "search doesn't show all results"
For example:

[code]

Will show me no results.

But there are obviously plenty here: https://anaconda.org/search?q=r-dplyr

[2017-01-19 16:07] goanpeca commented on #383
Maybe we are searching on the channels you have added? anyway it is definitely a bug

[2017-01-31 12:47] looooo opened #384 "anaconda upload stuck at 100%"
anaconda upload of a specific package stuck at 100%. On the anaconda website there is an information about a package uploaded but no package is available.

I already asked here:
https://groups.google.com/a/continuum.io/forum/#!topic/anaconda/aTAbbprqv30

I tried to remove this package completely (there were some uploads available previously), but I had still no success. Maybe someone can have a lo

[2017-01-31 17:35] #379 closed

[2017-02-02 19:48] looooo commented on #384
after resetting the build number to 0 (previously it was 11) the upload worked. No idea what was wrong. I leave this issue open.

[2017-02-03 08:36] looooo commented on #384
Now I have tried to rename my package. And again the upload wasn't successfully.

![grafik](https://cloud.githubusercontent.com/assets/5084704/22584621/aa22302e-e9f3-11e6-9235-5c94309d5206.png)

There seems to be enough space. But I have often removed packages. Maybe this could be the problem?

[2017-02-04 09:07] sandhujasmine commented on #336
A client would like to upload a zip file to their internal repo. I'm able to upload the zipfile using anaconda-client. This is being done from AEN so it is anaconda-client version 1.4.0

Download raises above exception. Uploading other types of files to an internal repo is part of the [enterprise default functionality](https://docs.continuum.io/anaconda-cloud/using#uploading-other-types-of-files).

[2017-02-06 13:00] bkreider commented on #336
I'm increasing the severity since it blocks a feature with no known workaround.

[2017-02-06 19:16] DavidMertz commented on #336
Fixing this will provide a workable solution for Cisco's need to clone environments.  It's still a bit hodge-podge and a general "Clone Project" button would be much better.  But they'll be happy with it for now.

[2017-02-07 13:46] j0hn opened #385 "anaconda download cant specify which file type to download"
If there are more than one file with the same name of different types, say a notebook and a package, the `download` command doesn't let you specify which file to download, chooses one by itself.

[2017-02-07 14:13] goanpeca commented on #385
@j0hn what is the current behavior when two files have the same name?

[2017-02-07 15:03] j0hn commented on #385
@goanpeca i just did a quick test with an environment and a notebook with the same name and the two files were downloaded. I believe i've tried before and only one was downloading but i can't reproduce that behavior now. I still think we should add an option to specify which type or prompt the user.

[2017-02-07 15:06] goanpeca commented on #385
Agreed, but in case no extension is provided, ALL files should be downloaded, right?

[2017-02-07 15:07] j0hn commented on #385
yes, that's how it's working now

[2017-02-07 15:40] goanpeca commented on #385
This is for 1.7 then as it is a new feature

[2017-02-07 16:18] #56 closed

[2017-02-07 16:18] goanpeca commented on #56
This seems unrelated to this repo

[2017-02-07 16:22] #124 closed

[2017-02-07 16:22] goanpeca commented on #124
This seems to be no longer an issue

[code]

[2017-02-07 16:24] #126 closed

[2017-02-07 16:25] goanpeca commented on #126
This was fixed

[2017-02-07 16:32] goanpeca commented on #132
@electronwill can we close this issue? or is there any action item related to it?

[2017-02-07 16:35] #144 closed

[2017-02-07 16:35] goanpeca commented on #144
Issue moved to [Anaconda-Platform/anaconda-server #3380](https://github.com/Anaconda-Platform/anaconda-server/issues/3380) via [**ZenHub**](https://www.zenhub.com/)

[2017-02-07 16:35] goanpeca commented on #144
Issue moved to [Anaconda-Platform/anaconda-server #3381](https://github.com/Anaconda-Platform/anaconda-server/issues/3381) via [**ZenHub**](https://www.zenhub.com/)

[2017-02-07 16:36] goanpeca commented on #145
This is now being tracked in the anaconda cloud private repo

[2017-02-07 16:37] goanpeca commented on #151
@srossross @electronwill any update on this?

[2017-02-07 16:38] goanpeca commented on #153
This has been fixed already

[2017-02-07 16:38] #153 closed

[2017-02-07 16:41] goanpeca commented on #174
The get_server_api, addresses this issue

https://github.com/Anaconda-Platform/anaconda-client/blob/master/binstar_client/utils/__init__.py#L154

[2017-02-07 16:41] #174 closed

[2017-02-07 17:36] goanpeca opened #387 "Add a RELEASE.md file"

[2017-02-07 18:17] j0hn commented on #384
@looooo i'm trying to fix this issue but i can't reproduce the error. Any chance you can send me the package that you're trying to upload so i can see what's wrong with it?

[2017-02-07 19:13] #218 closed

[2017-02-07 19:13] goanpeca commented on #218
Well build is no longer a valid command

[2017-02-07 20:49] electronwill commented on #132
Thank you for reminding us @goanpeca -- this has been neglected for too long. We need a developer to answer the question: What are the valid choices for package type with ``anaconda upload -t`` ?

Then I'll put that answer in the docs.

[2017-02-07 20:52] electronwill commented on #151
Good point. @srossross before you leave, can you please tell us how to publish to binstar-client.readthedocs.org ?

[2017-02-08 05:22] goanpeca opened #388 "Make 1.6.2 Release"
- [x] Update Changelog
- [x] Update Release instructions

[2017-02-08 08:28] looooo commented on #384
I can send you the package, but I have the feeling it's not a problem of the package. The problem also occurs with other packages... As I said this is maybe related to the anaconda cloud service.

[2017-02-08 08:39] looooo commented on #384
After testing the upload again (other machine) the package was successfully uploaded. https://anaconda.org/freecad/freecad/files Quite strange... I think we can temporary close the issue :-)

[2017-02-08 09:30] #384 closed

[2017-02-08 13:45] abarto commented on #383
This is a server issue related to the ppc architectures. It'll be fixed once the fix/ppc-issues in anaconda-server is merged.

[2017-02-08 17:45] #336 closed

[2017-02-08 20:29] abarto commented on #383
The branch fix/ppc-issues was merged into develop.

[2017-02-12 18:55] looooo commented on #384
just had the issue again. Maybe this is related to uploading from virtual machine.... No idea.

[2017-02-14 19:19] #206 closed

[2017-02-15 13:54] #387 closed

[2017-02-15 14:04] #388 closed

[2017-02-16 12:25] abarto commented on #383
@dsludwig This is still happening in 2.27.0.

[2017-02-16 12:48] abarto commented on #383
My bad. It works just fine w/ 2.27.0. I recommend we close this issue once 2.27.0 reaches GA.

[2017-02-20 16:17] mausch opened #391 "No error when trying to upload nonexistent file"
anaconda-client 1.6.2 on Python 3.5

Running `anaconda upload kjasndfkjansdlfjansd` (i.e. a nonexistent package) only displays:
`Using Anaconda API: https://api.anaconda.org`

It should display something like "Could not find package to upload 'kjasndfkjansdlfjansd'".

At least it does return a non-zero exit code :)

[2017-02-20 18:38] chdoig opened #392 "Add anaconda-project commands"
When a user downloads anaconda-cli should also get the anaconda-project commands https://github.com/Anaconda-Platform/anaconda-project.

This issue is on hold until we move kapsel to anaconda-project.

cc: @dsludwig

[2017-02-25 15:25] abdolrhman opened #396 "when write conda or pip in console it launch python ,instead of doing the actual conda command ?"
Hello guys , i have a huge problem ,
now i installed anacodna , every thing work fine , ok ..
then i restart my pc , open my console , write conda to give me conda commands , instead it launched a python console?!!!!
i tried to use pip instead , same give me python instead of the actual commands , so its like pip and conda are useless , they doesn't do any thing except give me python console !!??

[2017-02-28 00:16] goanpeca commented on #151
@srossross ?

[2017-03-03 13:31] abarto commented on #383
This was fixed with the 2.27.3 server release.

[2017-03-03 13:31] #383 closed

[2017-03-06 14:11] j0hn commented on #133
I couldn't reproduce this error. Can we confirm that it still exists?

<img width="1431" alt="screen shot 2017-03-06 at 11 08 57 am" src="https://cloud.githubusercontent.com/assets/172606/23613288/98298444-025d-11e7-8d83-ca64709abe45.png">

[2017-03-14 14:47] jakirkham opened #397 "Updating latest release tag?"
Appears that 1.6.2 has shown up in `defaults`, but the "Latest release" marking on GitHub still points to 1.5.3. Could the latest release tag move to 1.6.2 or are there some issues that we need to be aware of?

[2017-03-15 16:37] jakirkham opened #398 "Trouble build 1.6.2 on Windows"
Ran into some issues building `anaconda-client` 1.6.2 on Windows Python 2 and 3 at conda-forge. The traceback from one of the Python 3 builds is shown below. The Python 2 traceback differs by being a `WindowsError` instead. Links to the PR and AppVeyor builds are below.

[code]

xref: https://github.com/conda-forge/anaconda-client-feedstock/pull/6
ref: https://ci.appveyor.com/project/conda-forge/a

[2017-03-15 16:44] jakirkham opened #399 "pywintypes CSIDL_COMMON_APPDATA error"
Ran into a rather strange issue trying to build a new package for `conda-build-all` at conda-forge. Talked to @msarahan about it and he seemed to think the use of the `CSIDL` path is a problem. Details in this [comment]( https://github.com/conda-forge/conda-build-all-feedstock/pull/28#issuecomment-286474137 ). Have included the traceback I'm seeing below. A link to the PR with the recipe and a lin

[2017-03-17 17:00] joelhullcio opened #400 "The -s option is gone in version 1.6.2"
anaconda upload use to have a -s option to specify the upload site.
In version 1.6.2 this option is gone.

This is a problem and a regression of functionality.  The -s option is very useful for enterprises that support multiple sites.  **Please add it back in ASAP.**

Also, there is no error or warning when the -s is specified.  Instead the files are just uploaded to the default site in the anacon

[2017-03-29 12:42] tonigi opened #401 "PEP440 and local version identifiers"
I've got packages with local version identifiers, but the conda install command may not handle version precedence according to PEP440. In particular

    True  # This follows PEP440

while conda install prefers version 2.3.0 to 2.3.0+htmd4.

[2017-03-29 12:46] goanpeca commented on #401
@tonigi I think you got the wrong repository. Try either

https://github.com/ContinuumIO/anaconda-issues/issues

or directly on the conda repo

https://github.com/conda/conda/issues

[2017-03-29 12:46] #401 closed

[2017-03-29 15:53] jakirkham commented on #398
Any thoughts on this?

[2017-03-29 15:53] jakirkham commented on #399
Any thoughts on this?

[2017-03-31 01:08] goanpeca opened #403 "Upload build to anaconda default organisation"
From https://github.com/conda/conda/issues/785

rhattersley commented on Jun 23, 2014
The auto-upload to binstar after a build is very useful. To make the most of binstar organisations it would be helpful to have another conda option which allowed the specification of an organisation name. (equivalent to binstar upload -u <org_name> ...).

For example:
[code]

[2017-04-17 16:15] goanpeca opened #404 "Update ci to use a single requirements file on testing"

[2017-04-18 21:57] stephenakearns commented on #391
Just lost 10 min of my life I'm not getting back on this one.. ;-)

[2017-04-19 20:23] damianavila commented on #398
ping @dsludwig, I have seen this as well...

[2017-04-20 18:31] j0hn commented on #398
I'm looking into this. Apparently what's causing this is that instead of having a `conda.exe` file there's a `conda.bat` which works as a symlink. I'll change it so it looks for any of those two.

[2017-04-20 20:36] #398 closed

[2017-04-20 20:37] j0hn commented on #398
I just merged a fix for this, should be fixed on the next release. Will try to release soon.

[2017-04-21 03:31] damianavila commented on #398
ping @jakirkham

[2017-04-21 03:31] damianavila commented on #398
Thanks @j0hn !!

[2017-04-24 18:51] j0hn commented on #398
@jakirkham 1.6.3 release is done, you can go ahead and try to build your own `anaconda-client`. We'll be uploading a build to anaconda cloud as soon as possible. Thanks for the bug report!

[2017-04-25 18:45] damianavila commented on #398
Thanks for the update @j0hn.

[2017-04-28 02:53] rmancy-smg opened #408 "Uploading environment to Anaconda cloud, fails with 400"
Hi,

I'm following the instructions here[1].  These are the two commands that docs say can be used to upload the environment.

The second command fails with:

It seems that it's expecting the first command to write the output to environment.yml, however it just writes it to stdout. This is easily fixed by redirecting stdout to environment.yml.

Once that is done, and the upload command is run agai

[2017-05-17 04:38] goanpeca opened #410 "Spaces between end of path and path delimiter cause FileNotFoundError when running anaconda in Windows"
From https://github.com/ContinuumIO/anaconda-issues/issues/680

jaminsore commented on Mar 1, 2016
When running an anaconda command (e.g., anaconda --help), I am getting a FileNoteFoundError. I found the issue is that I had a space between the end of a path in my PATH and the path delimiter. This is caused by a known inconsistency in the behavior of os.listdir() and os.ispath() or os.path.exists()

[2017-05-17 18:08] hsparra opened #411 "Anaconda search showing INFO and DEBUG messages"
When I performed an `anaconda search` the results are returned with intermingled INFO messages, making it hard to easily skim the output for what I am looking for.

[code]

[2017-05-17 18:37] electronwill commented on #411
@kalefranz suggested May 11 in the "AE-Repository" Flowdock channel that this started with https://github.com/conda/conda/pull/4989/files#diff-19134691115430f517c015997070b147L67 , because anaconda-client relies on a conda import to configure its loggers, and anconda-client should be changed to configure the binstar_client logger itself.

[2017-05-17 18:49] hsparra opened #412 "Central location for client configuration"
For centralized installations on Linux, it'd be helpful if the configuration file for the anaconda client (config.yaml) is handled the same way as the configuration file for conda (.condarc).

Currently, users can have a personal configuration in their home directory (~/.config/binstar/config.yaml), and this is consistent with how users can have a personal ~/.condarc file. However, the system conf

[2017-05-25 12:02] astrofrog opened #413 "anaconda copy not working correctly"
The following command gives an error that doesn't make sense:

[code]

conda-forge is a channel, not a label (I am not using --from-label but --from-channel)

[2017-05-31 14:20] j0hn commented on #411
Already merged a fix on develop. Will be available on the next release.

[2017-05-31 14:20] #411 closed

[2017-06-16 14:08] abarto opened #415 "It's not possible to copy a specific version"
There's an issue copying a specific existing version of pymc3

[code]

[2017-06-16 17:36] abarto commented on #415
This seems to be a server issue.

[2017-06-16 18:03] abarto commented on #415
The problem is that the "rc3" releases are in the "rc" and anaconda client can only "see" (through repodata.json) packages in the "main" channel.

[2017-06-16 18:03] #415 closed

[2017-06-16 19:00] abarto commented on #415
Disregard the last comment. Here's the way to do it:

[code]

[2017-06-19 23:10] dsludwig opened #416 "Escape filenames correctly when generating URLs"
When a filename contains `#`, it should be URL-encoded in any generated URLs.

https://groups.google.com/a/continuum.io/forum/#!topic/anaconda/R0eKmcvrY6M

[2017-06-19 23:15] dsludwig commented on #416
See https://github.com/Anaconda-Platform/anaconda-client/blob/develop/binstar_client/__init__.py#L497 and https://github.com/Anaconda-Platform/anaconda-client/blob/develop/binstar_client/__init__.py#L536

[2017-06-22 20:05] lc8631058 opened #417 "I update anaconda in EC2, then I can open Jupyter notebook in terminal, what should I do?"
I just followed [this](https://sites.google.com/site/kittipat/programming-with-python/updateanacondaanditspackagesonubuntu) command line to update anaconda, then when I type `jupyter notebook`, I got this error:
[code]

what should I do ?

[2017-07-05 17:36] astrofrog opened #418 "Issue with upload command aborting"
I'm trying to upload a package built on Travis CI to anaconda.org, which works fine for Python 3.6:

https://travis-ci.org/glue-viz/conda-dev/jobs/250440713

However, the Python 2.7 build upload just fails silently:

https://travis-ci.org/glue-viz/conda-dev/jobs/250440710

The command must return a non-zero status since the overall build status fails. Is there any way to get more verbose informati

[2017-07-05 18:41] astrofrog commented on #418
The hidden error line was:

[code]

What's not clear is why this was not shown in the Travis logs (had to run locally to get this). I know why the error happened now, but I think there still appears to be an issue with the error message not getting shown?

[2017-07-10 21:56] bkreider opened #419 "anaconda-client fails silently on bad SSL"
`anaconda login` silently fails when the SSL certificate fails validation.  It looks like the URL is bad, or the server is down, but it's actually caused by certificate validation.

[2017-07-10 21:57] bkreider opened #420 "verify_ssl option should be ssl_verify to be consistent with conda"
verify_ssl option should be ssl_verify to be consistent with conda

[2017-07-13 19:54] j0hn commented on #400
@joelhullcio The option is still there, it's not an option of the upload command but an option of the anaconda command itself. So you have to do:

[code]

[2017-07-14 16:57] joelhullcio commented on #400
Thanks, I missed that somehow.

[2017-07-14 16:57] #400 closed

[2017-07-14 18:16] j0hn commented on #413
The `copy` command interface is a little bit confussing. `labels` used to be called `channels` and that's why the `--from-channel/--to-channel` options are deprecated.

What you need to use is the `spec` where the format is `user/package/version[/filename]`

For example, on your case you would want to do:

[code]

[2017-07-15 17:13] msarahan commented on #413
I ran into this also, with exactly the same approach as @astrofrog.  Thanks for documenting a proper example, but please simplify the CLI, or make what I see as "intuitive" also work.

[2017-07-20 19:58] csoja opened #421 "Make anaconda-client commands more intuitive"
Placeholder to review current anaconda-client commands & make recommendations for improvements.

[2017-07-24 20:51] j0hn opened #423 "Release <VERSION> Checklist"
## Release Checklist
- [ ] Release to beta
- [ ] Email Aamna about the beta release
- [ ] Update Internal Change Log: https://github.com/Anaconda-Server/anaconda-server/blob/develop/CHANGELOG.md
- [ ] If docs changed, coordinate release with Kerry
- [ ] Release to production
  - [ ] Ensure static assets are released as needed
- [ ] Create this ticket for next release and put it in the backlog
- [

[2017-07-26 14:39] j0hn opened #424 "Anaconda Cloud Design Refresh"
We need to implement the changes that the design team requested.

Brand guide can be [found here](https://company-107779.frontify.com/d/DVXoiJr2B1kF/anaconda-style-guide)

We can't change the logo until August 30th, and after the name change is when we will have to change the footer links.

![anacondacloud-reskin-3](https://user-images.githubusercontent.com/172606/28627363-f7b2696c-71f7-11e7-9983-

[2017-07-27 13:56] #424 closed

[2017-08-23 13:12] j0hn commented on #131
anaconda command fails with the following error:

`[NotFound] API server not found. Please check your API url configuration.`

[2017-08-23 13:12] #131 closed

[2017-08-23 20:12] #66 closed

[2017-08-29 13:38] bkreider opened #427 "can't run help when home disk is full"
it raises a OS error No space left on device even when i'm just running "help".

[2017-08-29 13:49] abarto commented on #427
Does it print a traceback or shows any additional info?

[2017-08-29 19:59] #281 closed

[2017-08-30 19:16] #309 closed

[2017-09-05 19:55] #91 closed

[2017-09-16 03:55] szha opened #432 "Client can't access shared environment on anaconda"
when running `conda env update mxnet/gluon`, anaconda-client complains about not being able to access binstar prod s3 bucket.
https://discuss.gluon.ai/uploads/default/original/1X/c40c1cad836e7a94b94fd375f60a4dc0f2397667.png

[2017-09-18 13:53] j0hn commented on #320
You can set the token via env variable since `1.5.2`. You have to use `ANACONDA_API_TOKEN`. To specify other user you have to use that user's token.

[2017-09-18 13:53] #320 closed

[2017-09-26 03:38] dgergel commented on #234
thanks @amfarrell, this fix worked.

[2017-09-26 17:17] flamingbear commented on #351
Any update on this?  We've been working around this for sometime and are hoping there's a solution, or at least a better work around.

Thoughts?

[2017-09-28 14:59] j0hn commented on #133
Closing this along with #173 because couldn't reproduce. Please file a new ticket if occurs again.

[2017-09-28 14:59] #133 closed

[2017-09-28 14:59] j0hn commented on #173
Closing this along with #133 because couldn't reproduce. Please file a new ticket if occurs again.

[2017-09-28 14:59] #173 closed

[2017-09-28 19:45] megies commented on #133
Would be nice to have the fixing commits link to the reporting issues.. I really can't remember how to reproduce this after two years, so I guess.. thanks for it being supposedly fixed in between ;-)

[2017-09-29 21:28] #267 closed

[2017-09-29 21:28] hubmann commented on #267
Closing this. This is not happening anymore.

[2017-09-29 21:35] #145 closed

[2017-09-29 21:37] #207 closed

[2017-10-03 20:47] #242 closed

[2017-10-24 21:55] jakirkham commented on #147
Is this still the case? Seems a bit out-of-date on PyPI. Namely PyPI has 1.2.2 and 1.6.5 is the most recent tag.

[2017-11-15 16:32] brendancol commented on #419
@bkreider I'm currently experiencing this issue on a client deployment.  I've tried setting `ssl_verify: false` and `verify_ssl:false`, but still cannot connect.  Any ideas on how to make a anaconda-client work with an bad SSL certificate?

[2017-11-15 18:41] jcrist commented on #420
Bump. We just ran into this - the use of a non-standard name is confusing and less than ideal. cc @brendancol.

[2017-11-16 12:55] #397 closed

[2017-11-17 17:23] #416 closed

[2017-11-17 17:37] j0hn commented on #408
Couldn't reproduce using `anaconda-client 1.6.5` and `conda 4.3.27`

[2017-11-17 17:37] #408 closed

[2017-11-17 17:38] j0hn commented on #408
About conda export not generating an environment.yaml, could you file a ticket on the conda issue tracker? thanks for reporting!

[2017-11-17 20:38] #420 closed

[2017-11-22 19:33] j0hn commented on #391
Couldn't reproduce on `anaconda client 1.6.5`

[code]

[2017-11-22 19:33] #391 closed

[2017-11-29 18:36] koverholt opened #446 "License, summary for package"
@MSeifert04 commented on [Tue Nov 08 2016](https://github.com/Anaconda-Platform/support/issues/86)

I recently uploaded a package to the `conda-forge` channel. However the `summary` and `license` are displayed as [``No Summary`` and ``Unspecified``](https://anaconda.org/conda-forge/iteration_utilities).

I'm actually not sure if I did something wrong in my [`meta.yaml`](https://github.com/conda-fo

[2017-11-29 18:37] koverholt commented on #446
My mistake, moved to wrong repo.

[2017-11-29 18:37] #446 closed

[2017-12-13 21:46] brendancol commented on #419
This was user error.  Just to review. The steps I needed were:

[code]

[2017-12-13 21:47] brendancol commented on #419
This issue can be closed

[2017-12-20 11:35] 03vikas opened #447 "Python has stopped working"
python has stopped working while opening jupyter notebook in windows 7 ultimate.
How to solve this problem.
Jupyter notebook get opened but when trying to open Python file or any file then it shows message "**Python stopped working**" and after closing that another message prompted "**creating Notebook failed**".
Please let me know if anyone has corrected this problem.
![snapshot](https://user-ima

[2018-01-05 18:27] brendancol opened #450 "Anaconda Repo Upload trouble with 1.6.6"
After upgrading anaconda-client to `1.6.6` and using `verify_ssl = False`, I ran into trouble while uploading packages to an Anaconda Repo instance at a client site (AE4).  Basically it looks like the package is uploaded, but it never displays the `Upload Complete` message on the terminal.

In the anaconda-repo GUI, it says the package was uploaded, but then clicking on the link leads to a 403 / n

[2018-01-05 23:38] goanpeca commented on #450
@abarto @j0hn this is related to the deprecation of verify_ssl to ssl_verify?

[2018-01-08 12:51] abarto commented on #450
@goanpeca It wasn't deprecated. I'm looking into this right now.

[2018-01-08 13:03] abarto commented on #450
@brendancol which version of Repo are you using?

[2018-01-08 14:08] goanpeca commented on #450
Yes it was, [deprecated](https://github.com/Anaconda-Platform/anaconda-client/blob/d6d9b77b9ef0cc924b70474148ca5d8ae7468909/binstar_client/commands/config.py#L78).

[2018-01-08 14:13] abarto commented on #450
Sorry, I meant to say it wasn't removed.

[2018-02-02 13:44] astrofrog opened #455 "Copying a package with multiple labels"
I would like to use the anaconda client to copy a package from a channel to another channel and I want to add multiple labels to the package in the new channel. I am therefore using ``api.copy`` with the ``to_label`` option - however if I put multiple labels separated by a comma, e.g. ``'main,dev'``, then this only creates a single label with the comma in it. If I try and pass a list to ``to_label

[2018-02-12 16:21] gbrener opened #456 "Uploading packages to another user's channel"
Hi team, as a user of anaconda.org with package-upload privileges to a channel I do not own, is there a recommended way to upload a package to the channel?

I tried the following things, which did not work:
- Added `-u` option on command-line
- Created token on anaconda.org with upload privileges, added with `-t` option on command-line
- Both of the above at once

One thing that did work:
- Asked

[2018-02-12 16:31] abarto commented on #456
That's expected behavior. The -u is used when you want to upload to an organization you're part of.

[2018-02-20 15:49] goanpeca opened #459 "I think some recents changes are causing problems with Navigator"
Hi @abarto maybe the ruaml removal PR introduced sme subtle changes

See

https://github.com/ContinuumIO/anaconda-issues/issues/8605#issuecomment-366759140

[2018-02-20 16:02] goanpeca commented on #459
Content of a file with content causing issues

[code]

[2018-02-20 19:22] tymer5 opened #461 "Anaconda prompt not recognized"
I am first time user. I purchased a course on programming in python. The course highly suggested downloading anaconda for ease of installation. I have installed on windows 64 bit machine. After install it says to go to command prompt and type jupyter notebook. I get the error

'jupyter' is not recognized as an internal or external command, operable program or batch file.

I have searched google an

[2018-02-20 19:59] mingwandroid commented on #461
It sounds like your installation did not complete successfully.

Do you have any other Python interpreters installed? Perhaps a virus scanner got in the way of the install process, you could try disabling it temporarily if so.

[2018-02-20 22:06] #459 closed

[2018-02-21 08:20] tymer5 commented on #461
Hi mingwandroid. Thank you for responding. I have uninstalled and re-installed several times now. This time I have taken some pictures of the completed installation and last lines run from the details of the installer. I am at a loss of what to do. I have completely disabled my firewall and windows defender software for this install. On finishing I went to the command prompt and typed in jupyter n

[2018-02-21 09:37] mingwandroid commented on #461
This is really strange then. I am a little bit at a loss to figure out what's up here.

Can you try uninstalling then installing the latest Miniconda instead and seeing if the Anaconda Prompt works?

[2018-02-21 21:55] tymer5 commented on #461
Where do I get miniconda? Can you provide a link to miniconda download? I only see anaconda downloads.

[2018-02-21 21:57] tymer5 commented on #461
Never mind I found miniconda it. I will let you know how it goes. Here is the link to where I found it.
https://conda.io/miniconda.html

[2018-02-21 22:13] tymer5 commented on #461
I think that worked but since I am new to this I don't know where to go with it from here. The jupyter notebook command still doesn't work. I am assuming it wasn't installed with the mini. I did a search for jupyter in the miniconda3 file structure that came up empty. Here are some screen shots of what I have at this point.
![install complete 5](https://user-images.githubusercontent.com/36675994/3

[2018-02-21 22:27] mingwandroid commented on #461
Now run `conda install anaconda`

[2018-02-21 23:04] tymer5 commented on #461
Well that looked like it was working, but when it got to the end it had some problems executing something. Here are some screenshots.
![install complete 8](https://user-images.githubusercontent.com/36675994/36510484-00f5963c-1718-11e8-8d07-898c7f13a9e8.PNG)
![install complete 9](https://user-images.githubusercontent.com/36675994/36510485-01112a00-1718-11e8-8b63-a4c532c8021a.PNG)

[2018-02-22 06:16] tymer5 commented on #461
I tried running the command again with the v option as described. I don't know if i did it right or not. I'm not sure if I was supposed to uninstall or not. I did not. I just ran it. Below is a screenshot of what happened. Please let me know if I should have done something else or if you have any ideas for me to try.
![install complete 10](https://user-images.githubusercontent.com/36675994/3652309

[2018-02-22 21:39] tymer5 commented on #461
Any thoughts or comments on what I can do?

[2018-03-02 18:57] jakirkham opened #463 "get_binstar function missing in 1.6.11"
We ran into an issue with `anaconda-client` 1.6.11 where it appears `get_binstar` is no longer available. Had been using 1.6.5 recently. This affects conda-forge uploads.

[code]

ref: https://github.com/conda-forge/flex-feedstock/pull/18#issuecomment-370015817

cc @ocefpaf

[2018-03-02 19:15] abarto commented on #463
Already fixed on the develop branch. It'll be included on the next release.

[2018-03-02 19:46] jakirkham commented on #463
Thanks for the update.

Is there a PR or commit that includes the fix?

Is `get_server_api` the recommended approach going forward?

[2018-03-02 22:54] abarto commented on #463
get_server_api is the recommended approach as get_binstar was deprecated ages ago. That being said, its removal caused some unintended problems for us as well so we had put it back. Sorry about the inconvenience.

[2018-03-04 00:42] tymer5 commented on #461
Juanpa has educated me a bit over on stackoverflow, and shown me that I wan't running the verbose mode properly. Below is a cleaner explanation of the problem.

I am having difficulty installing Anaconda and getting Jupyter to install/launch. I downloaded the installation package for Windows 64 Bit Graphical Installer from https://www.anaconda.com/download/

I turned off windows defender software.

[2018-03-05 19:14] jakirkham commented on #463
No worries. Sounds like it was our bad by not using `get_server_api` long ago. Have filed this downstream as issue ( https://github.com/conda-forge/conda-forge-ci-setup-feedstock/issues/5 ) so we can fix it.

Thanks for your help.

[2018-03-05 19:14] #463 closed

[2018-03-07 18:35] goanpeca opened #464 "Retrieving `url` setting after updating it (globally) returns `url` from default site"
1.6.11 seems to have changed the logic of how anaconda client handles the configuration settings.

I see a couple of changes:
  1. The configuration default values are now made explicit after each config update
  2. There is now a `default_site` value by default, which is why this behavior is occurring

If one tries to run

[code]

And then do

[code]

Which is not the global value (The config fil

[2018-03-12 14:09] goanpeca commented on #132
@electronwill just happened to pass by and fixed this.

The answer is `'ipynb, env'` and now the command should include that in the CLI help

[2018-03-12 14:09] #132 closed

[2018-03-12 14:10] #464 closed

[2018-03-12 14:41] electronwill commented on #132
Excellent-- thank you!

[2018-03-12 18:41] tymer5 commented on #461
I see this was closed but it has not been answered or resolved. I am still unable to install anaconda. Is there a reason why the problem I am having is tagged as invalid? What makes it invalid? Please explain or help by pointing me in the right direction.

[2018-03-13 05:41] samv1993 commented on #461
I have the same problem, I cleaned all the python versions and closed any other programs. It does not work.

[2018-03-13 18:32] tymer5 commented on #461
The first error is

C:\Users\Ty\Miniconda3\Scripts.ipykernel-post-link.bat

When I go to directory C:\Users\Ty\Miniconda3\Scripts

I can not find the file ipykernel-post-link.bat

When I search for that file I find it under

C:\Users\Ty\Miniconda3\pkgs\ipkernel-4.8.0-py36_0\scripts

So is this because it is given the wrong location to look for that file or because it was unpacked after it ran into

[2018-03-13 18:41] tymer5 commented on #461
Reading the contents of the ipykernel-post-link.bat file, I see that the end of the last file says "if errorlevel 1 exit 1" When the install program tries to find this file and run it but then fails the next lines say.

$ C:\WINDOWS\system32\cmd.exe /d /c C:\Users\Ty\Miniconda3\Scripts.ipykernel-post-link.bat
==> cwd: C:\Users\Ty\Miniconda3\Scripts <==
==> exit code: 1 <==
==> stdout <==
b''
==> s

[2018-03-13 19:21] samv1993 commented on #461
I cannot waste my time on finding the bug. I just reinstalled Windows OS, and it now works. Many people have the same problems on the install. I hope they can find out what happened quickly.

[2018-03-13 23:55] jakirkham commented on #463
So did this land in 1.6.12?

[2018-03-14 00:15] jakirkham commented on #463
Proposing we add it back with PR ( https://github.com/Anaconda-Platform/anaconda-client/pull/467 ).

[2018-03-14 00:33] abarto commented on #463
@jakirkham No it didn't. I'll release 1.6.13 tomorrow.

[2018-03-14 00:38] jakirkham commented on #463
No worries.

FWIW went ahead and put up PRs to fix conda-forge's infrastructure. They can wait for a bit as we are still using the old anaconda-client. That said, the fixes needed to be done and the recent release was a much needed reminder. If you have time to look, would appreciate your feedback. Not sure if anything else needs to be updated (as we don't currently show deprecation warnings 😞).

[2018-03-14 00:39] abarto commented on #463
I just tagged the release. It'll hit the main channel tomorrow. Sorry about the confusion.

[2018-03-19 21:12] goanpeca commented on #151
@electronwill this is the current state of https://binstar-client.readthedocs.io/en/latest/
<img width="793" alt="screen shot 2018-03-19 at 16 11 35" src="https://user-images.githubusercontent.com/3627835/37622660-442b7868-2b90-11e8-98c6-b55d2ea46460.png">

I guess we can close this?

[2018-03-19 21:14] goanpeca commented on #236
Is this something that is still relevante @kalefranz ?

[2018-03-19 21:15] goanpeca commented on #252
@electronwill is this still relevant? should we close it?

[2018-03-19 21:18] electronwill commented on #151
Glad to see it! Yes, we can close this.

[2018-03-19 21:18] #151 closed

[2018-03-19 21:18] goanpeca commented on #356
[code]

Now there is even a nice mix of Anaconda Cloud and anaconda.org :-p @bkreider

What should be the wording we should be using?

`Anaconda Cloud` -> `????`
`anaconda.org` -> `????`

Suggestions @electronwill ?

[2018-03-19 21:25] goanpeca commented on #353
@j0hn it seems you fixed this already on https://github.com/Anaconda-Platform/anaconda-client/commit/1c042205c5f19437b8d7600f8de28dfac54a3825#diff-a72a62d146c0a473ff1e065a12f662d2 ?

Want to double check, so we can close this?

[2018-03-19 21:26] electronwill commented on #252
Looks like anaconda-client does still use "anaconda upload notebook.ipynb" and "anaconda download notebook". Consistency is always nice, so it would be nice to make "anaconda download notebook.ipynb" work too. On the other hand, the existing behavior is already widely known, and this change may just not be a high priority, in which case we should close it and free up time for more important change

[2018-03-19 21:27] goanpeca commented on #252
Thanks for the explanation :-)

[2018-03-19 21:28] kalefranz commented on #236
Nah I think the ideas here that are still relevant are captured in other issues.

[2018-03-19 21:28] electronwill commented on #252
Sure! It took me a few minutes to remember what this was.

[2018-03-19 21:36] electronwill commented on #356
Free users will have Anaconda Cloud (anaconda.org) as their repository, and enterprise users will have Anaconda Repository or Anaconda Enterprise instead. Any option will be a little confusing to someone, but I think the best option is:

``Anaconda Cloud`` -> ``your Anaconda repository``
``anaconda.org`` -> ``your Anaconda repository``

[2018-03-19 22:24] goanpeca commented on #236
Closing then!

[2018-03-19 22:24] #236 closed

[2018-03-19 22:32] goanpeca commented on #356
Yes! like it! will open a PR then ;-)

[2018-03-19 22:47] goanpeca commented on #343
I think this issue is no longer relevant

[2018-03-19 22:47] #343 closed

[2018-03-19 22:49] goanpeca commented on #299
No longer relevant

[2018-03-19 22:49] #299 closed

[2018-03-19 23:18] goanpeca commented on #337
Is this something that is worth documenting @electronwill @csoja ? or not at this point?

[2018-03-19 23:19] goanpeca commented on #335
@jakirkham is this still an issue?

[2018-03-19 23:27] goanpeca commented on #326
Has this been reproduced @abarto, @j0hn ? seems like a windows (old) issue. Just want to check if this is relevant ;-)

[2018-03-19 23:38] goanpeca commented on #310
@kalefranz is this something of relevance to keep track here, or is this tracked somewhere con conda (where I understand is where the work needs to be done)

[2018-03-19 23:45] goanpeca commented on #274
This is not relevante anymore

[2018-03-19 23:45] #274 closed

[2018-03-19 23:51] goanpeca commented on #289
Is this still relevant with 5.x @csoja @abarto?

[2018-03-20 00:29] electronwill commented on #337
I see this from ``anaconda auth -x`` with anaconda-client 1.6.14:

[code]

For ``kapsel:upload`` we could link to https://github.com/conda/kapsel and its readme file.

[2018-03-20 00:32] electronwill commented on #337
We could also add a page at docs.anaconda.com with more text and detail about each of these and what they do. The docs team would need a draft from the developers to work from, with more detail than the inline help.

[2018-03-20 00:45] goanpeca commented on #337
Hmm we should probably remove that kapsel thing :-\

[2018-03-20 00:47] electronwill commented on #337
Oh, good point! That would be better.

[2018-03-20 01:17] goanpeca commented on #285
Is this something still relevant with 5.x @bkreider, @kalefranz ?

[2018-03-20 01:34] goanpeca commented on #461
@kalefranz thoughts?

[2018-03-20 01:35] goanpeca commented on #461
Please open over https://github.com/ContinuumIO/anaconda-issues/issues if the problem continues.

This repository is for anaconda-client, the CLI for communicating with anaconda.org

[2018-03-20 01:35] #461 closed

[2018-03-20 01:37] goanpeca commented on #357
@bkreider is this still relevant?

[2018-03-20 01:42] goanpeca commented on #456
@abarto are you sure?

The CLI does say

[code]

[2018-03-20 01:48] goanpeca commented on #362
This no longer sees to be the case.

running the search gives:

[code]

[2018-03-20 01:48] #362 closed

[2018-03-20 01:54] goanpeca commented on #374
This is no longer relevant

[2018-03-20 01:54] #374 closed

[2018-03-20 01:59] goanpeca commented on #377
Is this still relevant @abarto ?

[2018-03-20 02:06] goanpeca commented on #392
I believe this is no longer relevant

[2018-03-20 02:06] #392 closed

[2018-03-20 10:53] bkreider commented on #357
It depends if anaconda-client handles ctrl-c now.  I haven't tested it in a while.

[2018-03-20 10:54] bkreider commented on #285
I think this has been fixed in anaconda-client.

[2018-03-20 11:36] abarto commented on #285
This has been fixed.

[2018-03-20 11:36] #285 closed

[2018-03-20 11:39] abarto commented on #357
Right now anaconda-client reacts to ctrl-c, but it just quits without logging.

[2018-03-20 12:15] kalefranz commented on #310
I would close for now.

[2018-03-20 14:24] #310 closed

[2018-03-20 14:49] goanpeca commented on #396
If you are still experiencing the problem please open it at https://github.com/ContinuumIO/anaconda-issues/issues

[2018-03-20 14:49] #396 closed

[2018-03-20 14:52] goanpeca commented on #447
If you are still experiencing this issue please open it at
https://github.com/ContinuumIO/anaconda-issues/issues

And provide all the requested information

[2018-03-20 14:52] #447 closed

[2018-03-20 20:35] goanpeca commented on #399
@jakirkham is this still an issue?

[2018-03-20 20:36] #404 closed

[2018-03-20 20:36] goanpeca commented on #404
Not relevant at the moment

[2018-03-21 21:48] goanpeca commented on #413
@electronwill is this currently documented somewhere :-p ?

[2018-03-21 21:49] goanpeca commented on #417
Please report this at https://github.com/ContinuumIO/anaconda-issues/issues

[2018-03-21 21:49] #417 closed

[2018-03-21 22:04] #419 closed

[2018-03-21 22:29] goanpeca commented on #423
@j0hn @abarto moved to the [RELEASE.md](https://github.com/Anaconda-Platform/anaconda-client/blob/develop/RELEASE.md#release-checklist)

[2018-03-21 22:29] #423 closed

[2018-03-21 22:31] goanpeca commented on #427
Stale issue? closing

[2018-03-21 22:31] #427 closed

[2018-03-21 22:33] goanpeca commented on #432
This should probably go to conda issue tracker

[2018-03-21 22:33] #432 closed

[2018-03-21 22:33] goanpeca commented on #447
Please report this over https://github.com/ContinuumIO/anaconda-issues/issues

[2018-03-21 22:34] goanpeca commented on #450
@abarto was this fixed?

[2018-03-21 22:49] szha commented on #432
@goanpeca where is such tracker?

[2018-03-21 22:50] goanpeca commented on #432
https://github.com/conda/conda/issues, but feel free to reopen as needed!

[2018-03-22 12:50] abarto commented on #450
This was fixed.

[2018-03-22 12:50] #450 closed

[2018-03-22 13:29] abarto commented on #377
@goanpeca I don't think so. Closing.

[2018-03-22 13:29] #377 closed

[2018-03-22 13:31] abarto commented on #456
If a user shares his or her token, you can indeed upload to the account associated with it.

[2018-03-22 13:32] abarto commented on #289
@goanpeca I don't know.

[2018-03-22 13:33] abarto commented on #326
This is no longer valid as we removed clyent's coloring (we're trying to remove clyent).

[2018-03-22 13:33] #326 closed

[2018-03-23 23:33] electronwill commented on #413
No, anaconda-client is mentioned at https://docs.anaconda.com/anaconda-repository/commandreference and https://docs.anaconda.com/anaconda-cloud/commandreference but neither discusses this. Would you like us to add items in the Repo and Cloud Troubleshooting pages?

[2018-03-24 04:58] goanpeca commented on #413
maybe? thoughts @csoja?

[2018-03-26 14:44] csoja commented on #413
Yes, it seems to me like this should be explained in the documentation.

[2018-03-27 21:40] electronwill commented on #413
Turns out there were better places than just Troubleshooting to add the info in both Cloud and Repo.

Leaving this issue open for removing the flags in 1.7, but the documentation component should be complete now.

published & checked:
https://docs.anaconda.com/anaconda-cloud/user-guide/tasks/work-with-packages
https://docs.anaconda.com/anaconda-repository/user-guide/tasks/pkgs/
https://docs.anacon

[2018-03-28 14:58] goanpeca commented on #413
Awesome @electronwill :-), so closing then!

[2018-03-28 14:58] #413 closed

[2018-04-03 16:39] csoja commented on #289
At this point, I would say no.

[2018-04-03 16:39] #289 closed

[2018-04-06 14:43] Vsandhya11 commented on #198
Above commands worked for me to resolve the issue

[2018-04-09 19:41] #353 closed

[2018-04-24 21:23] sklam opened #469 "Wheels upload doesn't work with wheel==0.31.0"
This issue is observed with anaconda-client==1.6.14 with the recently released wheel==0.31.0

* wheel==0.31.0 removed metadata.json.  See https://github.com/pypa/wheel/issues/195 and https://github.com/Azure/azure-cli-extensions/issues/128.

  When anaconda-client fail to find the metadata, it requests the user to supply `--package` and `--version`.  However, it fails to upload.

* File upload fai

[2018-04-26 17:43] ebo opened #470 "downloading notebook via command tool does not work."
Reading the docs <https://anaconda.org/ric/notebooks>, it implies that I can download another users notebook via "anaconda notebook download user/notebook-ipynb".  I logged in via "anaconda login" and tried the following command varients to download jbednar's nasa_phase1_landsat_example:

anaconda notebook download  jbednar/nasa_phase1_landsat_example
anaconda notebook download  jbednar/nasa_phase

[2018-04-26 18:02] ebo commented on #470
Just got it to work.  I noted a warning message that "`anaconda notebook` is going to be deprecated" and modified the above to "anaconda download jbednar/nasa_phase1_landsat_example" and that worked.  So it is not "going" to be deprecated, but it now no longer works...

[2018-04-26 18:03] ebo commented on #470
as a note, I will leave the issue open for the moment because the devs might want to update the docs and/or the warning message in anaconda-client.

[2018-04-28 14:57] FathiahHusna commented on #461
try read through this website. it is the official troubleshooting from anaconda documentation. perhaps your error has the solution(s) in here.
https://docs.anaconda.com/anaconda/user-guide/troubleshooting#anaconda-installer-download-problems

[2018-05-14 14:27] #356 closed

[2018-05-16 06:57] hans-permana opened #473 "Failed to upload to Anaconda Cloud"
I was initially made aware of this issue when the [Travis build](https://travis-ci.org/CCI-Tools/cate-conda) of [this project](https://github.com/CCI-Tools/cate-conda) failed because the upload to Anaconda Cloud failed.

And then, I tried it manually in my Ubuntu VM to first build the conda package, and then upload it using anaconda upload.
[code]

At a glance it looked as if it was successful (no

[2018-05-16 09:27] hans-permana commented on #473
After a bit more digging and putting more debugging, we found out that the actual exception is

[code]

Actually we have two problems here:
1. That Anaconda silently fails without handling the error correctly by showing the error message to users
2. The error `Forbidden: Request forbidden -- authorization will not help ([POST] https://api.anaconda.org/stage/ccitools/cate-cli/2.0.0.dev11/linux-64/c

[2018-05-16 11:18] hans-permana commented on #473
I used the following dependencies:
[code]

[2018-05-21 23:08] goanpeca commented on #410
This is no longer relevant as it refers to [anaconda-build ](https://github.com/Anaconda-Platform/anaconda-build/tree/develop/binstar_build_client)

[2018-05-21 23:08] #410 closed

[2018-05-23 07:33] hans-permana commented on #473
the second issue was solved by removing the _**app**_ section in the recipe. It would be nice if an explicit message is returned instead of just 403 error.

[2018-05-30 22:55] goanpeca commented on #403
This is actually a request to add a key on the conda configuration side, not on anaconda client.

Currently conda has

https://conda.io/docs/user-guide/configuration/use-condarc.html#automatically-upload-conda-build-packages-to-anaconda-org-anaconda-upload
[code]

The user is asking for:

[code]

So that the anaconda_upload (if enabled) uploads to a given user/organization.

Should I move this iss

[2018-05-30 23:20] goanpeca commented on #351
@csoja this should be doable but we need to go over what makes more sense from the CLI perspective. The anaconda CLI is a bit confussing, and the label handling only handles label in general terms, `anaconda label --help` yields

[code]

And `anaconda copy --help` yields

[code]

I think that the best option under the current circumstances is to have a new subcommand `move`. This way we can have:

[2018-05-31 16:16] csoja commented on #403
yes, please move it.

[2018-05-31 16:52] goanpeca commented on #351
Implemented option 1

[code]

On #474

[2018-05-31 18:40] hdoupe commented on #473
@hans-permana I'm running into a similar issue. How did you get the stack-trace you give in this [comment](https://github.com/Anaconda-Platform/anaconda-client/issues/473#issuecomment-389455635)?

[2018-06-01 06:45] hans-permana commented on #473
@hdoupe , I modified the try-except block in binstar_client/commands/upload.py [line 236](https://github.com/Anaconda-Platform/anaconda-client/blob/develop/binstar_client/commands/upload.py#L236):
[code]

[2018-06-14 21:03] tykavanaugh opened #475 "[ERROR] ('Authorization header was not given', 401)"
TyKavanaugh:PI_Spreadsheet_Project BlackBox$ anaconda notebook upload PI_sheet(final).ipynb
-bash: syntax error near unexpected token `('
TyKavanaugh:PI_Spreadsheet_Project BlackBox$ PI_sheet.ipynb
-bash: PI_sheet.ipynb: command not found
TyKavanaugh:PI_Spreadsheet_Project BlackBox$ anaconda notebook upload PI_sheet.ipynb
Using Anaconda API: https://api.anaconda.org
[ERROR] ('Authorization header

[2018-06-20 09:22] bjornreuvers opened #476 "Anaconda behind a proxyserver"
Hi,

I keep getting an error while updating conda:

CondaHTTPError: HTTP 000 CONNECTION FAILED for url <https://repo.anaconda.com/pkgs/r/noarch/repodata.json.bz2>
Elapsed: -

An HTTP error occurred when trying to retrieve this URL.
HTTP errors are often intermittent, and a simple retry will get you on your way.

If your current network has https://www.anaconda.com blocked, please file
a support re

[2018-06-26 09:23] mbargull opened #477 "Package summary not updated for newer builds"
ref: https://github.com/conda-forge/freecad-feedstock/issues/7

The summary on https://anaconda.org/conda-forge/freecad does not reflect the changes added in a later build: https://github.com/conda-forge/freecad-feedstock/pull/2/files#diff-e178b687b10a71a3348107ae3154e44cR79

[code]

(PS: Should I rather raise the issue over at https://github.com/continuumio/anaconda-issues/issues? I'm not sure wh

[2018-06-26 09:28] mbargull opened #478 "anaconda search outputs to stderr instead of stdout"
`anaconda search` prints to the error stream instead of on the standard output stream:
[code]

[2018-07-16 22:36] #456 closed

[2018-07-16 22:36] goanpeca commented on #456
Asked the channel owner to provide a token that they created, and passed it with -t

[2018-07-17 00:48] #385 closed

[2018-07-17 00:49] goanpeca opened #480 "Release 1.7"
Update docs for:
- [ ] Update docs for `anaconda download` https://github.com/Anaconda-Platform/anaconda-client/issues/385

[code]

- [ ] Update docs for `anaconda move` https://github.com/Anaconda-Platform/anaconda-client/issues/351

[code]

[2018-07-17 16:41] electronwill commented on #480
Is this new version of anaconda-client going to be bundled with AE 5.2.0?